## Car sales program:

### Carry out the following tasks in JupyterLab:
###### Select the column (variable) “Make” from the DataFrame.
###### Select all entries with the value “Audi” in the variable “Make” from the DataFrame.
###### Select the last 10 observations and only the variable “Year” from the Dataframe

In [1]:
import pandas as pd

car_model = pd.read_csv("car_model.csv")

In [2]:
car_model["Make"]

0             Audi
1        Chevrolet
2         Cadillac
3        Chevrolet
4            Acura
           ...
9831    Mitsubishi
9832        Nissan
9833        Nissan
9834        Subaru
9835    Volkswagen
Name: Make, Length: 9836, dtype: object

In [3]:
car_model.set_index(['Make'], inplace = True)
car_model

            Year              Model            Category
Make
Audi        2020                 Q3                 SUV
Chevrolet   2020             Malibu               Sedan
Cadillac    2020       Escalade ESV                 SUV
Chevrolet   2020           Corvette  Coupe, Convertible
Acura       2020                RLX               Sedan
...          ...                ...                 ...
Mitsubishi  2022      Eclipse Cross                 SUV
Nissan      2022  Frontier Crew Cab              Pickup
Nissan      2022         Pathfinder                 SUV
Subaru      2022                BRZ               Coupe
Volkswagen  2022             Tiguan                 SUV

[9836 rows x 3 columns]

In [4]:
car_model.loc[['Audi'], :]

      Year Model                 Category
Make
Audi  2020    Q3                      SUV
Audi  2020   SQ5                      SUV
Audi  2020    R8       Coupe, Convertible
Audi  2020    Q5                      SUV
Audi  2020    A7                    Sedan
...    ...   ...                      ...
Audi  2021    Q3                      SUV
Audi  2021    Q5                      SUV
Audi  2021    Q8                      SUV
Audi  2021    S5  Convertible,Sedan,Coupe
Audi  2021    S6                    Sedan

[299 rows x 3 columns]

In [5]:
car_model[['Year']].iloc[-10:]

               Year
Make
Honda          2022
Jeep           2022
Hyundai        2022
Kia            2022
Mercedes-Benz  2022
Mitsubishi     2022
Nissan         2022
Nissan         2022
Subaru         2022
Volkswagen     2022