## Car sales program:

### Carry out the following tasks in JupyterLab:
###### Select the column (variable) “Make” from the DataFrame.
###### Select all entries with the value “Audi” in the variable “Make” from the DataFrame.
###### Select the last 10 observations and only the variable “Year” from the Dataframe

In [1]:
import pandas as pd

car_model = pd.read_csv("car_model.csv")

In [2]:
car_model["Make"]

0           Acura
1           Acura
2           Acura
3      Alfa Romeo
4      Alfa Romeo
          ...
235         Volvo
236    Volkswagen
237         Volvo
238         Volvo
239         Volvo
Name: Make, Length: 240, dtype: object

In [3]:
car_model.set_index(['Make'], inplace = True)
car_model

            Year    Model Category
Make
Acura       2021      ILX    Sedan
Acura       2021      RDX      SUV
Acura       2021      TLX    Sedan
Alfa Romeo  2021   Giulia    Sedan
Alfa Romeo  2021  Stelvio      SUV
...          ...      ...      ...
Volvo       2021      V60    Wagon
Volkswagen  2021   Tiguan      SUV
Volvo       2021     XC40      SUV
Volvo       2021     XC60      SUV
Volvo       2021     XC90      SUV

[240 rows x 3 columns]

In [4]:
car_model.loc[['Audi'], :]

      Year       Model                 Category
Make
Audi  2021  A6 allroad                    Wagon
Audi  2021          A7                    Sedan
Audi  2021          Q3                      SUV
Audi  2021          Q5                      SUV
Audi  2021          Q8                      SUV
Audi  2021          S5  Convertible,Sedan,Coupe
Audi  2021          S6                    Sedan

In [5]:
car_model[['Year']].iloc[-10:]

            Year
Make
Volkswagen  2021
Volkswagen  2021
Volkswagen  2021
Volvo       2021
Volvo       2021
Volvo       2021
Volkswagen  2021
Volvo       2021
Volvo       2021
Volvo       2021