# Car sales program:

##### Carry out the following tasks in JupyterLab:
###### Read in the data file “car_model.csv” into Python as a pandas DataFrame. The data file contains 4 variables: Year, Make, Model, and Category.
###### Print the DataFrame and check on its dimension.

In [1]:
# !pip install pandas

In [2]:
import pandas as pd

In [3]:
car_model = pd.read_csv("car_model.csv")

In [4]:
car_model

      Year        Make              Model            Category
0     2020        Audi                 Q3                 SUV
1     2020   Chevrolet             Malibu               Sedan
2     2020    Cadillac       Escalade ESV                 SUV
3     2020   Chevrolet           Corvette  Coupe, Convertible
4     2020       Acura                RLX               Sedan
...    ...         ...                ...                 ...
9831  2022  Mitsubishi      Eclipse Cross                 SUV
9832  2022      Nissan  Frontier Crew Cab              Pickup
9833  2022      Nissan         Pathfinder                 SUV
9834  2022      Subaru                BRZ               Coupe
9835  2022  Volkswagen             Tiguan                 SUV

[9836 rows x 4 columns]

In [5]:
car_model.shape

(9836, 4)