### Car sales program:
#### Carry out the following tasks in JupyterLab:
##### Modify the program created in Study Units 1 & 2 in a way that the user can enter the brand, model, buying price and satisfaction rate (1 = “totally dissatisfied”, …, 5 = “totally satisfied”) of the car he purchased.
##### Save the input as “car_purchase” in a text file (preferably .csv file).

In [1]:
import pandas as pd
import numpy as np

user_in = []

valid_input = False
while valid_input == False:
    try:
        add_car = str(input("Add a new car (yes / no):"))
        if add_car == "yes":
            input_b = str(input("Please Enter Car Brand:"))
            input_m = str(input("Please Enter Car Model:"))
            input_p = int(input("Please Enter Car Buying Price:"))
            input_s = int(input("Please Enter Car Satisfaction from 1 to 5 (1 - least satisfied): "))
            print(f"You have entered is {input_b}, {input_m}, {input_p}, {input_s}")
            
            user_in.append({'Brand': input_b, 'Model': input_m, 'Price': input_p, 'Satisfaction':input_s})
        
        elif add_car == "no":
            valid_input = True
            print(f"Goodbye!")
            break
    
    except ValueError:
        print(f"Your input is of the wrong type. Please try again")
        
print(user_in)

Add a new car (yes / no):yes
Please Enter Car Brand:Toyota
Please Enter Car Model:Harrier
Please Enter Car Buying Price:100000
Please Enter Car Satisfaction from 1 to 5 (1 - least satisfied): 5
You have entered is Toyota, Harrier, 100000, 5
Add a new car (yes / no):no
Goodbye!
[{'Brand': 'Toyota', 'Model': 'Harrier', 'Price': 100000, 'Satisfaction': 5}]

In [4]:
headers = ["Brand", "Model", "Price", "Satisfaction"]
df = pd.DataFrame(user_in, columns = headers)

In [6]:
df.to_csv("car_purchase.csv", index = False)

In [7]:
# How to create a database

In [8]:
import sqlite3

In [10]:
conn = sqlite3.connect("car_model.db")
cur = conn.cursor()

In [12]:
df.to_sql("df", conn, if_exists = "replace", index = False)

1

In [13]:
# test our data base

In [14]:
cur.execute("Select * from df;")

In [15]:
print(cur.fetchall())

[('Toyota', 'Harrier', 100000, 5)]