In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("ECA_data.csv")

In [5]:
df.shape # find the size of dataframe (rows, columns)

(18769, 24)

In [6]:
print(df.info()) # to check the data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18769 entries, 0 to 18768
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         18769 non-null  int64
 1   LIMIT      18769 non-null  int64
 2   BALANCE    18769 non-null  float64
 3   INCOME     18769 non-null  int64
 4   RATING     18769 non-null  int64
 5   GENDER     18769 non-null  int64
 6   EDUCATION  18756 non-null  float64
 7   MARITAL    18731 non-null  float64
 8   AGE        18769 non-null  int64
 9   S1         18769 non-null  int64
 10  S2         18769 non-null  int64
 11  S3         18769 non-null  int64
 12  S4         18769 non-null  int64
 13  S5         18769 non-null  int64
 14  B1         18769 non-null  int64
 15  B2         18769 non-null  int64
 16  B3         18769 non-null  int64
 17  B4         18769 non-null  int64
 18  B5         18769 non-null  int64
 19  R1         18769 non-null  int64
 20  R2         18769 non-null  int64
 21  R3         18769 non-null  object
 22  R4         18769 non-null  int64
 23  R5         18769 non-null  int64
dtypes: float64(3), int64(20), object(1)
memory usage: 3.4+ MB
None

In [7]:
df['R3'] = pd.to_numeric(df['R3'],errors = 'coerce') # convert variable type

In [8]:
print(df.info()) # print info to check again after convert R3 type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18769 entries, 0 to 18768
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         18769 non-null  int64
 1   LIMIT      18769 non-null  int64
 2   BALANCE    18769 non-null  float64
 3   INCOME     18769 non-null  int64
 4   RATING     18769 non-null  int64
 5   GENDER     18769 non-null  int64
 6   EDUCATION  18756 non-null  float64
 7   MARITAL    18731 non-null  float64
 8   AGE        18769 non-null  int64
 9   S1         18769 non-null  int64
 10  S2         18769 non-null  int64
 11  S3         18769 non-null  int64
 12  S4         18769 non-null  int64
 13  S5         18769 non-null  int64
 14  B1         18769 non-null  int64
 15  B2         18769 non-null  int64
 16  B3         18769 non-null  int64
 17  B4         18769 non-null  int64
 18  B5         18769 non-null  int64
 19  R1         18769 non-null  int64
 20  R2         18769 non-null  int64
 21  R3         18759 non-null  float64
 22  R4         18769 non-null  int64
 23  R5         18769 non-null  int64
dtypes: float64(4), int64(20)
memory usage: 3.4 MB
None

Data Cleaning process : remove blank, extremes/ outliers

In [9]:
df.isnull().sum() # check the null objects from dataset

ID            0
LIMIT         0
BALANCE       0
INCOME        0
RATING        0
GENDER        0
EDUCATION    13
MARITAL      38
AGE           0
S1            0
S2            0
S3            0
S4            0
S5            0
B1            0
B2            0
B3            0
B4            0
B5            0
R1            0
R2            0
R3           10
R4            0
R5            0
dtype: int64

In [10]:
df1 = df.dropna() # remove rows which have null objects

In [11]:
df1['AGE'].value_counts()[199]
# count the total number of occurrence of age "199" and "-1" in the dataset

5

In [12]:
df1['AGE'].value_counts()[-1]
# count the total number of occurrence of age "199" and "-1" in the dataset

5

In [13]:
# remove the 10 extremes/ outliers' data points consider 'AGE' variable had a minimum of -1 and a maximum value of 199. 
index = df1[(df1['AGE'] >= 199) | (df1['AGE'] <= -1)].index 
df1.drop(index, inplace=True)  # remove these index rows from data
df1['AGE'].describe()  # print summary statistics for the variable to ensure it has been removed

C:\Users\mkumar\AppData\Local\Temp\ipykernel_18276\125969068.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(index, inplace=True)  # remove these index rows from data

count    18700.000000
mean        35.539198
std          9.161942
min         21.000000
25%         28.000000
50%         34.000000
75%         41.000000
max         80.000000
Name: AGE, dtype: float64

In [14]:
df1.columns.values # list all the variables after data cleaning

array(['ID', 'LIMIT', 'BALANCE', 'INCOME', 'RATING', 'GENDER',
       'EDUCATION', 'MARITAL', 'AGE', 'S1', 'S2', 'S3', 'S4', 'S5', 'B1',
       'B2', 'B3', 'B4', 'B5', 'R1', 'R2', 'R3', 'R4', 'R5'], dtype=object)

In [15]:
df1.index.values # list the index after data cleaning

array([    0,     1,     2, ..., 18766, 18767, 18768], dtype=int64)

In [16]:
print(type(df1.columns))
print(type(df1.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.numeric.Int64Index'>

In [17]:
df1.columns.tolist()
df1.index.tolist()
print (type(df1.columns.tolist()))
print (type(df1.index.tolist()))

<class 'list'>
<class 'list'>

In [18]:
df1.drop(['ID'], axis=1, inplace=True) # VARIBALE is NO MEANING, as it an identity, no impact to predict variable

C:\Users\mkumar\AppData\Local\Temp\ipykernel_18276\1864342384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['ID'], axis=1, inplace=True) # VARIBALE is NO MEANING, as it an identity, no impact to predict variable

In [19]:
df1.head(2) # removed ID

,LIMIT,BALANCE,INCOME,RATING,GENDER,EDUCATION,MARITAL,AGE,S1,S2,...,B1,B2,B3,B4,B5,R1,R2,R3,R4,R5
0,210000,0.00,235822,1,1,1.0,2.0,30,0,0,...,0,0,0,0,0,0,0,0.0,0,0
1,260000,10928.05,278481,0,0,2.0,2.0,31,0,0,...,54074,46407,38874,31324,24031,2000,2000,2000.0,2000,72000

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
model = LinearRegression()

In [21]:
# Creating new variables
X = df1[['LIMIT', 'BALANCE', 'INCOME', 'RATING', 'GENDER', 'EDUCATION', 'MARITAL', 'AGE', 'S1', 'S2', 'S3', 'S4', 'S5', 'B2', 'B3', 'B4', 'B5', 'R1', 'R2', 'R3', 'R4', 'R5']]
y = df1['B1']

In [22]:
# Splitting the data into training and testing (80%,20% ratio)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, train_size=0.2)

In [23]:
# Creating a new model and fitting it
multi_model = LinearRegression()
multi_model.fit(X_train, y_train)

LinearRegression()

In [24]:
# Prediction new values
predictions = multi_model.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)

In [25]:
print('The r2 is: ', r2)
print('The rmse is: ', rmse)

The r2 is:  0.9474872303079385
The rmse is:  16502.563177099302

In [26]:
# Printing coefficients and intercept
print(multi_model.coef_)
print(multi_model.intercept_)

[ 8.02489110e-03  2.66123348e+00 -1.23077411e-02  1.62942175e+02
  1.00732999e+03 -6.24867332e+02 -4.87386159e+02  1.98677983e+01
 -1.11334627e+03  1.49104558e+03  7.03274029e+02 -8.24297698e+02
 -2.93613416e+02  5.35653736e-01 -2.11746206e-02 -3.69446984e-02
  5.62317611e-02 -3.42260438e-01  2.27783204e-01  1.71389601e-01
 -7.46516333e-02  2.68933722e-02]
1680.7929116042724

In [27]:
# Writing a function to predict limit
coefficients = multi_model.coef_
intercept = multi_model.intercept_
def calculate_B1(LIMIT, BALANCE, INCOME, RATING, GENDER, EDUCATION, MARITAL, AGE, S1, S2, S3, S4, S5, B2, B3, B4, B5, R1, R2, R3, R4, R5):
    return ((LIMIT * coefficients[0]) + (BALANCE * coefficients[1]) + (INCOME * coefficients[2]) + (RATING * coefficients[3]))\
+(GENDER * coefficients[4]) + (EDUCATION * coefficients[5]) +(MARITAL * coefficients[6]) +(AGE * coefficients[7])\
+(S1 * coefficients[8]) +(S2 * coefficients[9]) +(S3 * coefficients[10]) + (S4 * coefficients[11]) + (S5 * coefficients[12])\
+(B2 * coefficients[13]) +(B3 * coefficients[14]) + (B4 * coefficients[15]) + (B5 * coefficients[16])\
+(R1 * coefficients[17]) +(R2 * coefficients[18]) +(R3 * coefficients[19]) + (R4 * coefficients[20]) + (R5 * coefficients[21])\
+ intercept

In [28]:
# Predicted B1 value 
print (calculate_B1(10000, 5000, 8000, 0, 1, 3, 2, 45, -1, 0, 0, 0, -1, 400, 400, 400, 400, 390, 390, 450, 450, 600))

15656.242024745916