## ANL252 ECA

### Question 1

The categorial variables are ID, gender, education, martial, age and rating.

The numeric variables are limit, balance, income, S(n), B(n) and R(n).

### Question 2

In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import seaborn as sns
import statistics as sts

In [2]:
#!conda install -c anaconda xlrd

In [3]:
df_credit = pd.read_csv('ECA_data.csv')
print (df_credit)

          ID   LIMIT    BALANCE  INCOME  RATING  GENDER  EDUCATION  MARITAL  \
0          1  210000      0.000  235822       1       1        1.0      2.0
1          2  260000  10928.050  278481       0       0        2.0      2.0
2          3  400000  65397.850  431993       0       0        3.0      1.0
3          4   20000   3695.300   22368       0       0        2.0      1.0
4          5  180000     68.250  166900       0       1        2.0      1.0
...      ...     ...        ...     ...     ...     ...        ...      ...
18764  18762  220000  33065.900  225862       0       0        3.0      1.0
18765  18763  150000    294.525  149966       0       0        3.0      2.0
18766  18764   30000    623.875   30327       1       0        2.0      2.0
18767  18765   80000      0.000   94607       1       0        3.0      1.0
18768  18766   50000   8387.575   40267       1       0        2.0      1.0

       AGE  S1  ...      B1      B2      B3      B4      B5     R1     R2  \
0       30   0  ...       0       0       0       0       0      0      0
1       31   0  ...   54074   46407   38874   31324   24031   2000   2000
2       51   0  ...  343591  352484  338823  283288  185288  15000  14000
3       58  -1  ...   21470     200       0   28740    1295      0      0
4       42   0  ...    1260     598    2056    4300    1802    598   2056
...    ...  ..  ...     ...     ...     ...     ...     ...    ...    ...
18764   39   0  ...  192815  208365   88004   31237   15980  20000   5003
18765   43  -1  ...    1828    3502    8979    5190       0   3526   8998
18766   37   3  ...    3356    2758   20878   20582   19357      0  22000
18767   41  -1  ...   78379   76304   52774   11855   48944   3409   1178
18768   46   0  ...   48905   49764   36535   32428   15313   1800   1430

          R3     R4     R5
0          0      0      0
1       2000   2000  72000
2      11500   8000   7000
3      28740   1565      0
4       4300   1802   3691
...      ...    ...    ...
18764   3047   5000   1000
18765    129      0      0
18766   4200   2000   3100
18767   1926  52964   1804
18768   1000   1000   1000

[18769 rows x 24 columns]

In [4]:
df_credit.head(18769)

,ID,LIMIT,BALANCE,INCOME,RATING,GENDER,EDUCATION,MARITAL,AGE,S1,...,B1,B2,B3,B4,B5,R1,R2,R3,R4,R5
0,1,210000,0.000,235822,1,1,1.0,2.0,30,0,...,0,0,0,0,0,0,0,0,0,0
1,2,260000,10928.050,278481,0,0,2.0,2.0,31,0,...,54074,46407,38874,31324,24031,2000,2000,2000,2000,72000
2,3,400000,65397.850,431993,0,0,3.0,1.0,51,0,...,343591,352484,338823,283288,185288,15000,14000,11500,8000,7000
3,4,20000,3695.300,22368,0,0,2.0,1.0,58,-1,...,21470,200,0,28740,1295,0,0,28740,1565,0
4,5,180000,68.250,166900,0,1,2.0,1.0,42,0,...,1260,598,2056,4300,1802,598,2056,4300,1802,3691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18764,18762,220000,33065.900,225862,0,0,3.0,1.0,39,0,...,192815,208365,88004,31237,15980,20000,5003,3047,5000,1000
18765,18763,150000,294.525,149966,0,0,3.0,2.0,43,-1,...,1828,3502,8979,5190,0,3526,8998,129,0,0
18766,18764,30000,623.875,30327,1,0,2.0,2.0,37,3,...,3356,2758,20878,20582,19357,0,22000,4200,2000,3100
18767,18765,80000,0.000,94607,1,0,3.0,1.0,41,-1,...,78379,76304,52774,11855,48944,3409,1178,1926,52964,1804
18768,18766,50000,8387.575,40267,1,0,2.0,1.0,46,0,...,48905,49764,36535,32428,15313,1800,1430,1000,1000,1000

In [5]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18769 entries, 0 to 18768
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         18769 non-null  int64
 1   LIMIT      18769 non-null  int64
 2   BALANCE    18769 non-null  float64
 3   INCOME     18769 non-null  int64
 4   RATING     18769 non-null  int64
 5   GENDER     18769 non-null  int64
 6   EDUCATION  18756 non-null  float64
 7   MARITAL    18731 non-null  float64
 8   AGE        18769 non-null  int64
 9   S1         18769 non-null  int64
 10  S2         18769 non-null  int64
 11  S3         18769 non-null  int64
 12  S4         18769 non-null  int64
 13  S5         18769 non-null  int64
 14  B1         18769 non-null  int64
 15  B2         18769 non-null  int64
 16  B3         18769 non-null  int64
 17  B4         18769 non-null  int64
 18  B5         18769 non-null  int64
 19  R1         18769 non-null  int64
 20  R2         18769 non-null  int64
 21  R3         18769 non-null  object
 22  R4         18769 non-null  int64
 23  R5         18769 non-null  int64
dtypes: float64(3), int64(20), object(1)
memory usage: 3.4+ MB

In [6]:
df_credit.columns.values

array(['ID', 'LIMIT', 'BALANCE', 'INCOME', 'RATING', 'GENDER',
       'EDUCATION', 'MARITAL', 'AGE', 'S1', 'S2', 'S3', 'S4', 'S5', 'B1',
       'B2', 'B3', 'B4', 'B5', 'R1', 'R2', 'R3', 'R4', 'R5'], dtype=object)

In [7]:
df_credit.index.values

array([    0,     1,     2, ..., 18766, 18767, 18768], dtype=int64)

In [8]:
print(type(df_credit.columns))
print(type(df_credit.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [9]:
df_credit.columns.tolist()
df_credit.index.tolist()

print (type(df_credit.columns.tolist()))
print (type(df_credit.index.tolist()))

<class 'list'>
<class 'list'>

In [10]:
# size of dataframe (rows, columns)
df_credit.shape

(18769, 24)

In [11]:
#df_credit.drop([531,660,1613])
#df_credit.drop([4238,7829,15354,1807,18161,18162,18278])
df_credit.head(18769)

,ID,LIMIT,BALANCE,INCOME,RATING,GENDER,EDUCATION,MARITAL,AGE,S1,...,B1,B2,B3,B4,B5,R1,R2,R3,R4,R5
0,1,210000,0.000,235822,1,1,1.0,2.0,30,0,...,0,0,0,0,0,0,0,0,0,0
1,2,260000,10928.050,278481,0,0,2.0,2.0,31,0,...,54074,46407,38874,31324,24031,2000,2000,2000,2000,72000
2,3,400000,65397.850,431993,0,0,3.0,1.0,51,0,...,343591,352484,338823,283288,185288,15000,14000,11500,8000,7000
3,4,20000,3695.300,22368,0,0,2.0,1.0,58,-1,...,21470,200,0,28740,1295,0,0,28740,1565,0
4,5,180000,68.250,166900,0,1,2.0,1.0,42,0,...,1260,598,2056,4300,1802,598,2056,4300,1802,3691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18764,18762,220000,33065.900,225862,0,0,3.0,1.0,39,0,...,192815,208365,88004,31237,15980,20000,5003,3047,5000,1000
18765,18763,150000,294.525,149966,0,0,3.0,2.0,43,-1,...,1828,3502,8979,5190,0,3526,8998,129,0,0
18766,18764,30000,623.875,30327,1,0,2.0,2.0,37,3,...,3356,2758,20878,20582,19357,0,22000,4200,2000,3100
18767,18765,80000,0.000,94607,1,0,3.0,1.0,41,-1,...,78379,76304,52774,11855,48944,3409,1178,1926,52964,1804
18768,18766,50000,8387.575,40267,1,0,2.0,1.0,46,0,...,48905,49764,36535,32428,15313,1800,1430,1000,1000,1000

In [12]:
df_credit.describe()

,ID,LIMIT,BALANCE,INCOME,RATING,GENDER,EDUCATION,MARITAL,AGE,S1,...,S5,B1,B2,B3,B4,B5,R1,R2,R4,R5
count,18769.000000,18769.000000,18769.000000,18769.000000,18769.000000,18769.000000,18756.000000,18731.000000,18769.000000,18769.000000,...,18769.000000,18769.000000,18769.000000,18769.000000,18769.000000,18769.000000,1.876900e+04,18769.000000,18769.000000,18769.000000
mean,9382.049710,168275.543716,9119.887343,177765.809100,0.219244,0.618307,1.789934,1.514922,35.578614,0.128776,...,0.038628,49985.762587,48168.321541,45025.373328,41058.509137,39624.961319,6.026392e+03,5651.754862,4764.085354,5185.538068
std,5418.203513,129405.294386,13045.368642,143092.431648,0.413746,0.485815,0.732326,0.519588,9.556397,0.954745,...,0.849596,71927.408384,70318.908697,66107.280567,61697.041169,59913.089587,2.289899e+04,18614.886581,15031.279673,17424.054451
min,1.000000,10000.000000,0.000000,10000.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,...,-1.000000,-69777.000000,-157264.000000,-65167.000000,-81334.000000,-209051.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,4690.000000,50000.000000,640.325000,56494.000000,0.000000,0.000000,1.000000,1.000000,28.000000,0.000000,...,0.000000,3081.000000,2845.000000,2513.000000,1950.000000,1430.000000,1.000000e+03,579.000000,285.000000,215.000000
50%,9382.000000,140000.000000,3959.025000,148225.000000,0.000000,1.000000,2.000000,2.000000,34.000000,0.000000,...,0.000000,21386.000000,20421.000000,19502.000000,18356.000000,17419.000000,2.132000e+03,2000.000000,1508.000000,1547.000000
75%,14074.000000,240000.000000,11975.250000,256826.000000,0.000000,1.000000,2.000000,2.000000,41.000000,0.000000,...,0.000000,65145.000000,61943.000000,57687.000000,50758.000000,49792.000000,5.002000e+03,5000.000000,4068.000000,4095.000000
max,18766.000000,800000.000000,130692.450000,908846.000000,1.000000,1.000000,3.000000,2.000000,199.000000,7.000000,...,7.000000,743970.000000,855086.000000,706864.000000,823540.000000,514975.000000,1.227082e+06,889043.000000,426529.000000,527143.000000

Please clean the data set by removing the following unnecessary columns:

'ID', 'EDUCATION'

In [13]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_credit.drop(['ID','EDUCATION'], axis=1, inplace=True)
df_credit.head(18769)

,LIMIT,BALANCE,INCOME,RATING,GENDER,MARITAL,AGE,S1,S2,S3,...,B1,B2,B3,B4,B5,R1,R2,R3,R4,R5
0,210000,0.000,235822,1,1,2.0,30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,260000,10928.050,278481,0,0,2.0,31,0,0,0,...,54074,46407,38874,31324,24031,2000,2000,2000,2000,72000
2,400000,65397.850,431993,0,0,1.0,51,0,0,0,...,343591,352484,338823,283288,185288,15000,14000,11500,8000,7000
3,20000,3695.300,22368,0,0,1.0,58,-1,2,2,...,21470,200,0,28740,1295,0,0,28740,1565,0
4,180000,68.250,166900,0,1,1.0,42,0,0,0,...,1260,598,2056,4300,1802,598,2056,4300,1802,3691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18764,220000,33065.900,225862,0,0,1.0,39,0,0,0,...,192815,208365,88004,31237,15980,20000,5003,3047,5000,1000
18765,150000,294.525,149966,0,0,2.0,43,-1,-1,-1,...,1828,3502,8979,5190,0,3526,8998,129,0,0
18766,30000,623.875,30327,1,0,2.0,37,3,2,-1,...,3356,2758,20878,20582,19357,0,22000,4200,2000,3100
18767,80000,0.000,94607,1,0,1.0,41,-1,0,0,...,78379,76304,52774,11855,48944,3409,1178,1926,52964,1804
18768,50000,8387.575,40267,1,0,1.0,46,0,0,0,...,48905,49764,36535,32428,15313,1800,1430,1000,1000,1000

In [14]:
df_credit.isnull().sum()

LIMIT       0
BALANCE     0
INCOME      0
RATING      0
GENDER      0
MARITAL    38
AGE         0
S1          0
S2          0
S3          0
S4          0
S5          0
B1          0
B2          0
B3          0
B4          0
B5          0
R1          0
R2          0
R3          0
R4          0
R5          0
dtype: int64

In [15]:
print (df_credit.dtypes)

LIMIT        int64
BALANCE    float64
INCOME       int64
RATING       int64
GENDER       int64
MARITAL    float64
AGE          int64
S1           int64
S2           int64
S3           int64
S4           int64
S5           int64
B1           int64
B2           int64
B3           int64
B4           int64
B5           int64
R1           int64
R2           int64
R3          object
R4           int64
R5           int64
dtype: object

In [16]:
df_credit['MARITAL'] = df_credit['MARITAL'].astype(str)
df_credit['BALANCE'] = df_credit['BALANCE'].astype(int)
print (df_credit.dtypes)

LIMIT       int64
BALANCE     int32
INCOME      int64
RATING      int64
GENDER      int64
MARITAL    object
AGE         int64
S1          int64
S2          int64
S3          int64
S4          int64
S5          int64
B1          int64
B2          int64
B3          int64
B4          int64
B5          int64
R1          int64
R2          int64
R3         object
R4          int64
R5          int64
dtype: object

In [17]:
df_credit['MARITAL'] = df_credit['MARITAL'].replace(['2.0'],'Married')
df_credit['MARITAL'] = df_credit['MARITAL'].replace(['1.0'],'Single')

df_credit['MARITAL'].value_counts()

Married    9834
Single     8708
0.0         189
nan          38
Name: MARITAL, dtype: int64

In [18]:
df_credit['MARITAL'] = df_credit['MARITAL'].replace(['0.0'],'Married')
df_credit['MARITAL'] = df_credit['MARITAL'].replace(['nan'],'Married')
df_credit['MARITAL'].value_counts()

Married    10061
Single      8708
Name: MARITAL, dtype: int64

In [19]:
df_credit = df_credit.replace(['$2,620 '],'2620')
df_credit = df_credit.replace(['$6,000 '],'6000')
df_credit = df_credit.replace(['$2,200 '],'2200')
df_credit = df_credit.replace(['$390 '],'390')
df_credit = df_credit.replace(['$2,688 '],'2688')
df_credit = df_credit.replace(['$13,069 '],'13069')
df_credit = df_credit.replace(['$7,000 '],'7000')
df_credit = df_credit.replace(['$5,000 '],'5000')
df_credit = df_credit.replace(['$2,089 '],'2089')
df_credit = df_credit.replace(['$0 '],'0')


df_credit.head(18769)
df_credit['R3'] = df_credit['R3'].astype(int)
print (df_credit.dtypes)

ValueError: invalid literal for int() with base 10: '$0'

In [ ]:
df_credit['AGE']= df_credit['AGE'].replace(['-1 '],'nan')
df_credit['AGE'].fillna(df_credit['AGE'].value_counts().index[0]
              	,inplace = True)

In [ ]:
from scipy import stats

In [ ]:
q_credit = df_credit["AGE"].quantile(0.99)
df_credit[df_credit["AGE"] < q_credit]

In [ ]:
q_low = df_credit["AGE"].quantile(0.01)
q_hi  = df_credit["AGE"].quantile(0.99)

df_creditfil = df_credit[(df_credit["AGE"] < q_hi) & (df_credit["AGE"] > q_low)]

In [ ]:
#df_credit[((df_credit['AGE'] - df_credit['AGE'].mean()) / df_credit['AGE'].std()).abs() < 3]

In [ ]:
# we are using the inline backend
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

### Question 3.

In [ ]:
# we are using the inline backend
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
print ('Matplotlib version: ', mpl.__version__) # >= 2.0.0

In [ ]:
print(plt.style.available)
mpl.style.use(['ggplot']) # optional: for ggplot-like style

In [ ]:
# generate histogram
df_credit.hist(column=['AGE'], figsize=(8, 8))

plt.title('Age Count')
plt.ylabel('No. of People')
plt.xlabel('AGE')

plt.show()

In [ ]:
df_credit.describe()

In [ ]:
sns.histplot(data=df_credit,x="INCOME")
df_credit['INCOME'].describe()

In [ ]:
df_credit["MARITAL"].value_counts().plot.bar()
plt.title('Credit User by Marital Status')
plt.ylabel('Count')
plt.xlabel('Marital Status')

In [ ]:
df_credit["RATING"].value_counts().plot.bar()
plt.title('Customers Rating')
plt.ylabel('Count')
plt.xlabel('Rating')
df_credit['RATING'].value_counts()

In [ ]:
df_credit.hist(column=['S1', 'S2', 'S3','S4','S5'], figsize=(6, 8))

plt.title('Customer repayment status')
plt.ylabel('Count')
plt.xlabel('Month')

plt.show()

In [ ]:
#Step 1: Prepare the data

#df_credit = df_credit[B1].transpose() # transposed dataframe

# cast the Years (the index) to type int
df_credit.index = map(int, df_credit.index)

# let's label the index. This will automatically be the column name when we reset the index
#df_credit.index.name = 'B1'

# reset index to bring the Year in as a column
df_credit.reset_index(inplace=True)

# view the changes
df_credit.head()

### Question 4

In [ ]:
x=df_credit.drop(["B1",'MARITAL'],axis=1).values
y=df_credit["B1"].values

In [ ]:
print(x)
print(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
ml=LinearRegression()
ml.fit(x_train,y_train)

In [ ]:
y_pred=ml.predict(x_test)
print(y_pred)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

### Scatter Plot

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(15,10))
plt.scatter(y_test,y_pred)
plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.title('Actual vs Predicted')

In [ ]:
pred_y_df_credit=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_y_df_credit[0:20]

In [ ]:
import statsmodels.api as sm
x = sm.add_constant(x)
model = sm.OLS(y, x)
results = model.fit()
print(results.summary())