## Learn about concating Tuples and Lists

### This is a tuple

In [1]:
tup_num1 = (1, 2, 3)
tup_alp1 = ('a', 'b', 'c')

In [2]:
tup_num2 = 4
tup_alp2 = 'd'

In [5]:
tup3 = tup_num1 + (tup_num2)
print(tup3)

TypeError: can only concatenate tuple (not "int") to tuple

In [3]:
tup3 = tup_num1 + (tup_num2,)
print(tup3)

(1, 2, 3, 4)

In [6]:
tup4 = tup_alp1 + (tup_alp2)
print(tup4)

TypeError: can only concatenate tuple (not "str") to tuple

In [7]:
tup4 = tup_alp1 + (tup_alp2,)
print(tup4)

('a', 'b', 'c', 'd')

### This is a list

In [8]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

In [11]:
add_a = 4
list_new = a + add_a
print(list_new)

TypeError: can only concatenate list (not "int") to list

In [9]:
add_a = 4
list_new = a + [add_a]
print(list_new)

[1, 2, 3, 4]

In [10]:
add_a = [4]

list_new = a + add_a
print(list_new)

[1, 2, 3, 4]

In [12]:
b = ['a', 'b', 'c']
list_a = b + b
print(list_a)

['a', 'b', 'c', 'a', 'b', 'c']

In [13]:
b_new = 'd'

list_a = b + [b_new]
print(list_a)

['a', 'b', 'c', 'd']

### Dictionary

In [14]:
my_dict = {"Rome": 1000, "Singapore": 2, "India": 17}

In [15]:
my_dict

{'Rome': 1000, 'Singapore': 2, 'India': 17}

In [16]:
my_dict["Rome"]

1000

In [17]:
my_dict.keys()

dict_keys(['Rome', 'Singapore', 'India'])

In [18]:
my_dict.values()

dict_values([1000, 2, 17])

In [19]:
my_dict.items()

dict_items([('Rome', 1000), ('Singapore', 2), ('India', 17)])

In [20]:
my_dict2 = {"Rome": [1000, 2000], "Singapore": 2, "India": 17}

In [21]:
my_dict2

{'Rome': [1000, 2000], 'Singapore': 2, 'India': 17}

In [22]:
my_dict2["Rome"]

[1000, 2000]

In [23]:
my_dict['Rome'] = 5000

In [24]:
my_dict

{'Rome': 5000, 'Singapore': 2, 'India': 17}

In [25]:
my_dict

{'Rome': 5000, 'Singapore': 2, 'India': 17}

In [26]:
my_dict2

{'Rome': [1000, 2000], 'Singapore': 2, 'India': 17}