<a href="https://www.suss.edu.sg/courses/detail/anl252?urlname=bachelor-of-science-in-finance-with-minor-ftfnce"><img src = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width = 400> </a>

<h1 align=center><font size = 5>ANL252 - More on Matplotlib and Line Plots</font></h1>

<h1 align=center><font size = 4> Munish Kumar </font></h1>
<h1 align=center><font size = 3> Semester 2 2021 </font></h1>

## Introduction

The aim of this lab is to practice data visualization with Python. I will also introduce different libraries which can be beneficial when we are discussing new visualization concepts.

We will be generating plots and visualizations with data stored in the *pandas* dataframes. 

------------

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Exploring Datasets with *pandas*](#0)<br>
1.1 [The Dataset: Immigration to USA from 1980 to 2013](#2)<br>
1.2 [Importing *pandas* (and Numpy)](#4) <br>
1.3 [*pandas* Intermediate: Indexing and Selection](#6) <br>
2. [Visualizing Data using Matplotlib](#8) <br>
2.1 [Matplotlib: Standard Python Visualization Library](#10) <br>
3. [Line Plots](#12) <br>
4. [Area Plots](#14) <br>
5. [Histogram](#16) <br>
6. [Bar Graph](#18) <br>   
7. [Box Plot](#20) <br>
7. [Bubble Plot](#22) <br>    
</div>
<hr>

## The Dataset: Immigration to Canada from 1980 to 2013 <a id="2"></a>

Dataset Source: [International migration flows to and from selected countries - The 2015 revision](http://www.un.org/en/development/desa/population/migration/data/empirical2/migrationflows.shtml).

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this lab, we will focus on the United States of America immigration data.

---

## Importing *pandas* (and numpy)<a id="4"></a>

The first thing we'll do is import two key data analysis modules: *pandas* and **Numpy**.

In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

Let's download and import our primary Immigration dataset using *pandas* `read_excel()` method. To do this, you will would need to download a module which *pandas* requires to read in excel files called **xlrd**. Run the following line of code to install the **xlrd** module:
```
!conda install -c anaconda xlrd --yes
```

In [2]:
#!conda install -c anaconda xlrd --yes

Lets read in our data using 'read_excel' method

In [3]:
df_usa = pd.read_excel('United States of America.xlsx',
                       sheet_name='USA by Place of birth',
                       skiprows=range(20),
                       skipfooter=2)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

Display the top 5 rows of the dataset using the `head()` function.

In [4]:
df_usa.head()
# tip: You can specify the number of rows you'd like to see as follows: df_can.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Less developed regions,722,...,2137,4749,3417,1753,2813,3165,2017,1648,1617,2196
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,More developed regions,30,...,3840,5947,7914,5737,5754,5137,4711,3612,3364,3186
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Less developed regions,175,...,805,1115,1300,1036,1037,1485,1305,1364,1369,1241
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Less developed regions,0,...,12,15,28,11,14,19,14,D,-,D
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,More developed regions,2,...,..,..,..,..,..,..,..,..,..,..

Display the bottom 5 rows of the dataset using the `tail()` function.

In [5]:
df_usa.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
214,Immigrants,Foreigners,Wallis and Futuna Islands,909,Oceania,957,Polynesia,902,Less developed regions,0,...,..,..,..,..,..,..,..,..,..,..
215,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Less developed regions,0,...,..,..,..,..,..,..,..,..,..,..
216,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Less developed regions,160,...,1760,3366,4308,2396,1872,3134,3591,3361,2620,3532
217,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Less developed regions,178,...,359,499,672,576,613,704,628,652,643,505
218,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Less developed regions,246,...,628,923,1049,1057,953,983,1274,1016,914,924

Please get some basic information of the dataframe using the `info()` method.

In [6]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      219 non-null    object
 1   Coverage  219 non-null    object
 2   OdName    219 non-null    object
 3   AREA      219 non-null    int64
 4   AreaName  219 non-null    object
 5   REG       219 non-null    int64
 6   RegName   219 non-null    object
 7   DEV       219 non-null    int64
 8   DevName   219 non-null    object
 9   1980      219 non-null    object
 10  1981      219 non-null    object
 11  1982      219 non-null    object
 12  1983      219 non-null    object
 13  1984      219 non-null    object
 14  1985      219 non-null    object
 15  1986      219 non-null    object
 16  1987      219 non-null    object
 17  1988      219 non-null    object
 18  1989      219 non-null    object
 19  1990      219 non-null    object
 20  1991      219 non-null    object
 21  1992      219 non-null    object
 22  1993      219 non-null    object
 23  1994      219 non-null    object
 24  1995      219 non-null    object
 25  1996      219 non-null    object
 26  1997      219 non-null    object
 27  1998      219 non-null    object
 28  1999      219 non-null    object
 29  2000      219 non-null    object
 30  2001      219 non-null    object
 31  2002      219 non-null    object
 32  2003      219 non-null    object
 33  2004      219 non-null    object
 34  2005      219 non-null    object
 35  2006      219 non-null    object
 36  2007      219 non-null    object
 37  2008      219 non-null    object
 38  2009      219 non-null    object
 39  2010      219 non-null    object
 40  2011      219 non-null    object
 41  2012      219 non-null    object
 42  2013      219 non-null    object
dtypes: int64(3), object(40)
memory usage: 73.7+ KB

Please list of column headers in the dataframe; use the '.columns' parameter.

In [7]:
df_usa.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

Please list of indicies with '.index' parameter.

In [8]:
df_usa.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218], dtype=int64)

As the default type of index and columns is NOT a list, can you use tolist() method to convert them both?

In [9]:
print(type(df_usa.columns))
print(type(df_usa.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [10]:
df_usa.columns.tolist()
df_usa.index.tolist()

print (type(df_usa.columns.tolist()))
print (type(df_usa.index.tolist()))

<class 'list'>
<class 'list'>

Please display the dimensions of the dataframe with the '.shape' parameter.

In [11]:
# size of dataframe (rows, columns)
df_usa.shape

(219, 43)

Note: The main types stored in *pandas* objects are *float*, *int*, *bool*, *datetime64[ns]* and *datetime64[ns, tz] (in >= 0.17.0)*, *timedelta[ns]*, *category (in >= 0.15.0)*, and *object* (string). In addition these dtypes have item sizes, e.g. int64 and int32.

Please clean the data set by removing the following unnecessary columns (hint: use the 'drop()' method): 
- 'AREA', 'REG', 'DEV', 'Type', 'Coverage'

In [12]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_usa.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_usa.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Less developed regions,722,1881,1569,2566,3222,2794,...,2137,4749,3417,1753,2813,3165,2017,1648,1617,2196
1,Albania,Europe,Southern Europe,More developed regions,30,11,23,22,32,45,...,3840,5947,7914,5737,5754,5137,4711,3612,3364,3186

Rename the following columns by passing in a dictionary of old and new names (hint: use 'rename' method):
 - 'OdName' --> 'Country'
 - 'AreaName' --> 'Continent', 
 - 'RegName' --> 'Region'
 - 'DevName' --> 'Dev_Status'

In [13]:
df_usa.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region', 'DevName':'Dev_Status'}, inplace=True)
df_usa.columns

Index([   'Country',  'Continent',     'Region', 'Dev_Status',         1980,
               1981,         1982,         1983,         1984,         1985,
               1986,         1987,         1988,         1989,         1990,
               1991,         1992,         1993,         1994,         1995,
               1996,         1997,         1998,         1999,         2000,
               2001,         2002,         2003,         2004,         2005,
               2006,         2007,         2008,         2009,         2010,
               2011,         2012,         2013],
      dtype='object')

Add a 'Total' column to sums up the total immigrants by country over the entire period 1980 - 2013

In [14]:
df_usa['Total'] = df_usa.sum(axis=1)

C:\Users\mkumar\AppData\Local\Temp/ipykernel_20324/3002375331.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_usa['Total'] = df_usa.sum(axis=1)

Determine how many null objects there are in the dataset

In [15]:
df_usa.isnull().sum()

Country       0
Continent     0
Region        0
Dev_Status    0
1980          0
1981          0
1982          0
1983          0
1984          0
1985          0
1986          0
1987          0
1988          0
1989          0
1990          0
1991          0
1992          0
1993          0
1994          0
1995          0
1996          0
1997          0
1998          0
1999          0
2000          0
2001          0
2002          0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          0
Total         0
dtype: int64

Finally, summarize using the 'describe()' method.

In [16]:
df_usa.describe()

       Total
count  219.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0

---
## *pandas* Intermediate: Indexing and Selection (slicing)<a id="6"></a>

### Select Column
**There are two ways to filter on a column name:**

Method 1: Quick and easy, but only works if the column name does NOT have spaces or special characters.
```python
    df.column_name 
        (returns series)
```

Method 2: More robust, and can filter on multiple columns.

```python
    df['column']  
        (returns series)
```

```python 
    df[['column 1', 'column 2']] 
        (returns dataframe)
```
---

Method 1: Filtering on the list of countries ('Country').

In [17]:
df_usa.Country  # returns a series

0                    Afghanistan
1                        Albania
2                        Algeria
3                 American Samoa
4                        Andorra
                 ...
214    Wallis and Futuna Islands
215               Western Sahara
216                        Yemen
217                       Zambia
218                     Zimbabwe
Name: Country, Length: 219, dtype: object

Method 2: Filtering on the list of countries ('Country') and the data for years 1980 - 1985 (inclusive).

In [18]:
df_usa[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe
# notice that 'Country' is string, and the years are integers. 
# for the sake of consistency, we will convert all column names to string later on.

                       Country 1980  1981  1982  1983  1984  1985
0                  Afghanistan  722  1881  1569  2566  3222  2794
1                      Albania   30    11    23    22    32    45
2                      Algeria  175   184   190   201   197   202
3               American Samoa    0     0     7     7     0     0
4                      Andorra    2     3     2     1     0     0
..                         ...  ...   ...   ...   ...   ...   ...
214  Wallis and Futuna Islands    0     0     0     0     0     0
215             Western Sahara    0     1     1     2     0     0
216                      Yemen  160   230   305   268   324   432
217                     Zambia  178   165   165   160   146   169
218                   Zimbabwe  246   167   162   193   200   222

[219 rows x 7 columns]

## Select Row

Here are some ways to select rows:

```python
    df.loc[label]        
        #filters by the labels of the index/column
    df.iloc[index]       
        #filters by the positions of the index/column
```

The default index of the dataset is a numeric range. This makes it very difficult to do a query by a specific country because you will need to know the corressponding index value.

What is the index number for Singapore, Malaysia & Thailand?

In [19]:
print(f"index for Singapore: {df_usa[df_usa['Country']=='Singapore'].index.values}")
print(f"index for Malaysia: {df_usa[df_usa['Country']=='Malaysia'].index.values}")
print(f"index for Thailand: {df_usa[df_usa['Country']=='Thailand'].index.values}")

index for Singapore: [177]
index for Malaysia: [117]
index for Thailand: [192]

Please set the 'Country' column as the index using 'set_index()' method.

In [20]:
df_usa.set_index('Country', inplace=True)
# tip: The opposite of set is reset. So to reset the index, we can use df_can.reset_index()

In [21]:
df_usa.head(3)

,Continent,Region,Dev_Status,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Less developed regions,722,1881,1569,2566,3222,2794,2831,...,4749,3417,1753,2813,3165,2017,1648,1617,2196,0.0
Albania,Europe,Southern Europe,More developed regions,30,11,23,22,32,45,53,...,5947,7914,5737,5754,5137,4711,3612,3364,3186,0.0
Algeria,Africa,Northern Africa,Less developed regions,175,184,190,201,197,202,183,...,1115,1300,1036,1037,1485,1305,1364,1369,1241,0.0

In [22]:
# optional: to remove the name of the index
#df_usa.index.name = None
#df_usa.head(3)

Please display the number of immigrants for the following scenarios:
    1. From Singapore - The full row data (all columns)
    2. From Malaysia - For year 2013
    3. From Thailand - For years 1980 to 1985

In [23]:
# 1. the full row data (all columns)
print(df_usa.loc['Singapore'])

# alternate methods
print(df_usa.iloc[177])
print(df_usa[df_usa.index == 'Singapore'].T.squeeze())

Continent                       Asia
Region            South-Eastern Asia
Dev_Status    Less developed regions
1980                             322
1981                             408
1982                             390
1983                             362
1984                             377
1985                             460
1986                             480
1987                             469
1988                             492
1989                             566
1990                             620
1991                             535
1992                             774
1993                             798
1994                             542
1995                             399
1996                             561
1997                             460
1998                             388
1999                             355
2000                             668
2001                            1100
2002                            1033
2003                             582
2004                             966
2005                            1204
2006                             997
2007                             985
2008                             922
2009                             832
2010                             774
2011                             690
2012                             712
2013                             835
Total                            0.0
Name: Singapore, dtype: object
Continent                       Asia
Region            South-Eastern Asia
Dev_Status    Less developed regions
1980                             322
1981                             408
1982                             390
1983                             362
1984                             377
1985                             460
1986                             480
1987                             469
1988                             492
1989                             566
1990                             620
1991                             535
1992                             774
1993                             798
1994                             542
1995                             399
1996                             561
1997                             460
1998                             388
1999                             355
2000                             668
2001                            1100
2002                            1033
2003                             582
2004                             966
2005                            1204
2006                             997
2007                             985
2008                             922
2009                             832
2010                             774
2011                             690
2012                             712
2013                             835
Total                            0.0
Name: Singapore, dtype: object
Continent                       Asia
Region            South-Eastern Asia
Dev_Status    Less developed regions
1980                             322
1981                             408
1982                             390
1983                             362
1984                             377
1985                             460
1986                             480
1987                             469
1988                             492
1989                             566
1990                             620
1991                             535
1992                             774
1993                             798
1994                             542
1995                             399
1996                             561
1997                             460
1998                             388
1999                             355
2000                             668
2001                            1100
2002                            1033
2003                             582
2004                             966
2005                            1204
2006                             997
2007                             985
2008                             922
2009                             832
2010                             774
2011                             690
2012                             712
2013                             835
Total                            0.0
Name: Singapore, dtype: object

In [24]:
# 2. for year 2013
print(df_usa.loc['Malaysia', 2013])

2477

In [25]:
# 3. for years 1980 to 1985
print(df_usa.loc['Thailand', [1980, 1981, 1982, 1983, 1984, 1984]])

1980    4115
1981    4799
1982    5568
1983    5875
1984    4885
1984    4885
Name: Thailand, dtype: object

Please convert all column names into strings

In [26]:
df_usa.columns = list(map(str, df_usa.columns))
#[print (type(x)) for x in df_usa.columns.values] #<-- uncomment to check type of column headers

Since we converted the years to string, let's declare a variable that will allow us to easily call upon the full range of years:

In [27]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

### Filtering based on a criteria
To filter the dataframe based on a condition, we simply pass the condition as a boolean vector. 

Please filter the dataframe on Asian countries (AreaName = Asia).

In [28]:
# 1. create the condition boolean series
condition = df_usa['Continent'] == 'Asia'
print(condition)

Country
Afghanistan                   True
Albania                      False
Algeria                      False
American Samoa               False
Andorra                      False
                             ...
Wallis and Futuna Islands    False
Western Sahara               False
Yemen                         True
Zambia                       False
Zimbabwe                     False
Name: Continent, Length: 219, dtype: bool

In [29]:
# 2. pass this condition into the dataFrame
df_usa[condition]

,Continent,Region,Dev_Status,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Less developed regions,722,1881,1569,2566,3222,2794,2831,...,4749,3417,1753,2813,3165,2017,1648,1617,2196,0.0
Armenia,Asia,Western Asia,Less developed regions,..,..,..,..,..,..,..,...,2591,6317,4351,3586,3442,2979,2983,2681,2722,0.0
Azerbaijan,Asia,Western Asia,Less developed regions,..,..,..,..,..,..,..,...,1523,2371,1166,1071,834,781,728,663,637,0.0
Bahrain,Asia,Western Asia,Less developed regions,39,28,22,25,29,43,30,...,140,148,133,96,120,104,119,104,115,0.0
Bangladesh,Asia,Southern Asia,Less developed regions,532,756,639,787,823,1146,1634,...,11487,14644,12074,11753,16651,14819,16707,14705,12099,0.0
Bhutan,Asia,Southern Asia,Less developed regions,13,8,14,10,0,0,1,...,30,78,52,42,594,6109,10137,10198,8954,0.0
Brunei Darussalam,Asia,South-Eastern Asia,Less developed regions,13,31,13,18,5,16,29,...,49,25,32,18,26,20,25,19,21,0.0
Cambodia,Asia,South-Eastern Asia,Less developed regions,2801,12749,13438,18120,11856,13563,13501,...,4022,5773,4246,3713,3771,2986,2745,2473,2624,0.0
China,Asia,Eastern Asia,Less developed regions,27651,25803,27100,25777,23363,24787,25106,...,69933,87307,76655,80271,64238,70863,87016,81784,71798,0.0
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Less developed regions,3860,4055,4971,5948,5465,5171,5021,...,3705,3256,3527,3373,2651,2432,2306,2104,2226,0.0
"China, Macao Special Administrative Region",Asia,Eastern Asia,Less developed regions,261,280,225,246,260,271,243,...,133,189,178,205,158,143,130,120,106,0.0
Cyprus,Asia,Western Asia,Less developed regions,279,326,276,265,291,294,307,...,196,180,137,141,142,122,101,107,126,0.0
Democratic People's Republic of Korea,Asia,Eastern Asia,Less developed regions,..,..,..,..,..,..,..,...,..,..,..,..,67,35,36,49,48,0.0
Georgia,Asia,Western Asia,Less developed regions,0,0,259,460,128,126,136,...,1389,2003,1554,1620,1578,1518,1490,1341,1368,0.0
India,Asia,Southern Asia,Less developed regions,22607,21522,21738,25451,24964,26026,26227,...,84680,61369,65353,63352,57304,69162,69013,66434,68458,0.0
Indonesia,Asia,South-Eastern Asia,Less developed regions,977,1006,1194,952,1113,1269,1183,...,3924,4868,3716,3606,3679,3032,2856,2603,2731,0.0
Iran (Islamic Republic of),Asia,Southern Asia,Less developed regions,10410,11105,10314,11163,13807,16071,16505,...,13887,13947,10460,13852,18553,14182,14822,12916,12863,0.0
Iraq,Asia,Western Asia,Less developed regions,2658,2535,3105,2343,2930,1951,1323,...,4077,4337,3765,4795,12110,19855,21133,20369,9552,0.0
Israel,Asia,Western Asia,Less developed regions,3517,3542,3356,3239,3066,3113,3790,...,5755,5943,4496,5851,5612,4515,3826,4153,3996,0.0
Japan,Asia,Eastern Asia,More developed regions,4225,3896,3903,4092,4043,4086,3959,...,8768,8265,6748,6821,7690,6264,6161,6061,5925,0.0
Jordan,Asia,Western Asia,Less developed regions,3322,3825,2923,2718,2438,2998,3081,...,3748,4038,3917,3936,4282,3868,3876,4099,4188,0.0
Kazakhstan,Asia,Central Asia,Less developed regions,..,..,..,..,..,..,..,...,2223,2073,1604,1630,1562,1282,1235,1202,1241,0.0
Kuwait,Asia,Western Asia,Less developed regions,257,317,286,344,437,503,496,...,1152,1230,1017,1104,1124,1037,973,1044,937,0.0
Kyrgyzstan,Asia,Central Asia,Less developed regions,..,..,..,..,..,..,..,...,656,785,597,632,574,507,542,648,652,0.0
Lao People's Democratic Republic,Asia,South-Eastern Asia,Less developed regions,13970,15805,36528,23662,12279,9133,7842,...,1242,2892,2575,2198,1688,1200,956,949,923,0.0
Lebanon,Asia,Western Asia,Less developed regions,4136,3955,3529,2941,3203,3385,3994,...,4282,4083,4267,4254,3831,3487,3295,2879,2783,0.0
Malaysia,Asia,South-Eastern Asia,Less developed regions,795,1033,1046,852,879,939,886,...,2632,2281,2149,1945,2014,1714,2273,2605,2477,0.0
Maldives,Asia,Southern Asia,Less developed regions,2,1,1,1,0,0,0,...,6,..,9,..,6,..,..,..,..,0.0
Mongolia,Asia,Eastern Asia,Less developed regions,..,..,..,..,..,..,..,...,323,497,530,659,831,594,774,691,729,0.0
Myanmar,Asia,South-Eastern Asia,Less developed regions,1211,1083,820,723,719,990,863,...,2095,4562,3130,3403,13621,12925,16518,17383,12565,0.0
Nepal,Asia,Southern Asia,Less developed regions,98,83,97,105,75,63,86,...,3158,3733,3472,4093,4514,7115,10166,11312,13046,0.0
Oman,Asia,Western Asia,Less developed regions,20,18,13,15,7,7,11,...,101,155,103,70,74,63,60,74,73,0.0
Pakistan,Asia,Southern Asia,Less developed regions,4265,5288,4536,4807,5509,5744,5994,...,14926,17418,13492,19719,21555,18258,15546,14740,13251,0.0
Philippines,Asia,South-Eastern Asia,Less developed regions,42316,43772,45102,41546,42768,47978,52558,...,60746,74606,72596,54030,60029,58173,57011,57327,54446,0.0
Qatar,Asia,Western Asia,Less developed regions,16,22,13,19,17,28,41,...,174,226,138,151,134,148,193,141,191,0.0
Republic of Korea,Asia,Eastern Asia,Less developed regions,32320,32663,31724,33339,33042,35253,35776,...,26562,24386,22405,26666,25859,22227,22824,20846,23166,0.0
Saudi Arabia,Asia,Western Asia,Less developed regions,133,159,134,170,208,228,275,...,1210,1542,1171,1194,1418,1263,1396,1343,1463,0.0
Singapore,Asia,South-Eastern Asia,Less developed regions,322,408,390,362,377,460,480,...,1204,997,985,922,832,774,690,712,835,0.0
Sri Lanka,Asia,Southern Asia,Less developed regions,397,448,505,472,554,553,596,...,1894,2191,1831,1935,2009,2036,2053,1994,1847,0.0
Syrian Arab Republic,Asia,Western Asia,Less developed regions,1658,2127,2354,1683,1724,1581,1604,...,2831,2918,2385,2641,2442,2555,2785,3014,3366,0.0
Tajikistan,Asia,Central Asia,Less developed regions,..,..,..,..,..,..,..,...,207,239,172,231,265,299,382,411,550,0.0
Thailand,Asia,South-Eastern Asia,Less developed regions,4115,4799,5568,5875,4885,5239,6204,...,5505,11749,8751,6637,10444,9384,9962,9459,7583,0.0
Turkey,Asia,Western Asia,Less developed regions,2233,2766,2864,2263,1793,1691,1753,...,4614,4941,4425,4210,4958,4483,4403,4162,4144,0.0
Turkmenistan,Asia,Central Asia,Less developed regions,..,..,..,..,..,..,..,...,148,248,217,274,290,224,260,223,210,0.0
United Arab Emirates,Asia,Western Asia,Less developed regions,32,24,40,31,76,92,121,...,812,1006,758,693,697,779,707,854,910,0.0
Uzbekistan,Asia,Central Asia,Less developed regions,..,..,..,..,..,..,..,...,2887,4015,4665,6375,5467,4770,5056,4726,4382,0.0
Viet Nam,Asia,South-Eastern Asia,Less developed regions,43483,55631,72553,37560,37236,31895,29993,...,32784,30691,28691,31497,29234,30632,34157,28304,27101,0.0
Yemen,Asia,Western Asia,Less developed regions,160,230,305,268,324,432,420,...,3366,4308,2396,1872,3134,3591,3361,2620,3532,0.0

In [30]:
# We can also pass mutliple criteria in the same line. 
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_usa[(df_usa['Continent']=='Asia') & (df_usa['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

,Continent,Region,Dev_Status,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Less developed regions,722,1881,1569,2566,3222,2794,2831,...,4749,3417,1753,2813,3165,2017,1648,1617,2196,0.0
Bangladesh,Asia,Southern Asia,Less developed regions,532,756,639,787,823,1146,1634,...,11487,14644,12074,11753,16651,14819,16707,14705,12099,0.0
Bhutan,Asia,Southern Asia,Less developed regions,13,8,14,10,0,0,1,...,30,78,52,42,594,6109,10137,10198,8954,0.0
India,Asia,Southern Asia,Less developed regions,22607,21522,21738,25451,24964,26026,26227,...,84680,61369,65353,63352,57304,69162,69013,66434,68458,0.0
Iran (Islamic Republic of),Asia,Southern Asia,Less developed regions,10410,11105,10314,11163,13807,16071,16505,...,13887,13947,10460,13852,18553,14182,14822,12916,12863,0.0
Maldives,Asia,Southern Asia,Less developed regions,2,1,1,1,0,0,0,...,6,..,9,..,6,..,..,..,..,0.0
Nepal,Asia,Southern Asia,Less developed regions,98,83,97,105,75,63,86,...,3158,3733,3472,4093,4514,7115,10166,11312,13046,0.0
Pakistan,Asia,Southern Asia,Less developed regions,4265,5288,4536,4807,5509,5744,5994,...,14926,17418,13492,19719,21555,18258,15546,14740,13251,0.0
Sri Lanka,Asia,Southern Asia,Less developed regions,397,448,505,472,554,553,596,...,1894,2191,1831,1935,2009,2036,2053,1994,1847,0.0

Final Check: Review the changes made to dataframe, and create a checkpoint file.

In [31]:
print('data dimensions:', df_usa.shape)
print(df_usa.columns)
df_usa.head(2)

#Checkpoint File
df_usa.to_csv("df_usa.csv", index = False)

data dimensions: (219, 38)
Index(['Continent', 'Region', 'Dev_Status', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', 'Total'],
      dtype='object')

---
# Visualizing Data using Matplotlib<a id="8"></a>

## Matplotlib: Standard Python Visualization Library<a id="10"></a>

The primary plotting library in the course is [Matplotlib](http://matplotlib.org/).  As mentioned on their website: 
>Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms. Matplotlib can be used in Python scripts, the Python and IPython shell, the jupyter notebook, web application servers, and four graphical user interface toolkits.

Learning how to use Matplotlib to create impactful visualisations is essential, because a very crucial part of data science is being able to communicate your results

### Matplotlib.Pyplot

One of the core aspects of Matplotlib is 'matplotlib.pyplot'. It is Matplotlib's scripting layer which we studied about in seminar 3. Recall that it is a collection of command style functions that make Matplotlib work. 

Each 'pyplot' function is able to make some change to a figure: e.g., creates a figure, creates a plotting area in a figure, plots some lines in a plotting area, decorates the plot with labels, etc.

Let's start by importing `Matplotlib` and `Matplotlib.pyplot` as follows:

In [35]:
# we are using the inline backend
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

*optional: check if Matplotlib is loaded.

In [36]:
print ('Matplotlib version: ', mpl.__version__) # >= 2.0.0

NameError: name 'mpl' is not defined

*optional: apply a style to Matplotlib.

In [ ]:
print(plt.style.available)
mpl.style.use(['ggplot']) # optional: for ggplot-like style

### Plotting in *pandas*

Fortunately, pandas has a built-in implementation of Matplotlib that we can use. Plotting in *pandas* is as simple as appending a `.plot()` method to a series or dataframe.

Documentation:
- [Plotting with Series](http://pandas.pydata.org/pandas-docs/stable/api.html#plotting)<br>
- [Plotting with Dataframes](http://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-plotting)

# Line Pots (Series/Dataframe) <a id="12"></a>

**What is a line plot and why use it?**

A line chart (line plot) is a type of plot which displays information as a series of data points called 'markers' connected by straight line segments. It is a basic type of chart common in many fields.

Line plots are best used when data is continuous data or if you are trying to observe for trends.

**Let's start with a case study:**

In 2001, Setemner 11th occured where the world trade center was destroyed. As part of more inward looking government policies, the United Staes Government stopped the influx of immigrants and refugees from many countries. However, was Singapore affected? We can quickly visualize this effort using a `Line` plot:

**Question:** Plot a line graph of immigration from Singapore using 'df.plot()'.

First, please extract the data series for Singapore.

In [ ]:
Singapore = df_usa.loc['Singapore', years] # passing in years 1980 - 2013 to exclude the 'total' column
Singapore.tail(15)

Next, please plot a line plot by appending '.plot()' to the 'Singapore' dataframe.

In [ ]:
Singapore.plot()

*pandas* automatically populated the x-axis with the index values (years), and the y-axis with the column values (population). 

However, notice how the years were not displayed because they are of type *string*. We need to change the type of the index values to *integer* for plotting.

Also, its unclear what each axis is or what this plot is about - so please label the x and y axis using 'plt.title()', 'plt.ylabel()', and 'plt.xlabel()':

In [ ]:
# Change the index values to type integer for plotting
Singapore.index = Singapore.index.map(int)
Singapore.plot(kind='line')

plt.title('Immigration from Singapore')
plt.ylabel('Number of immigrants')
plt.xlabel('Years')

plt.show() # need this line to show the updates made to the figure

We can clearly notice how number of immigrants from Singapore was on the upawrd trend but spiked down from 2001-2003 as the United States stepped up its efforts to counter Terrorism. 

Please annotate this spike in the plot by using the 'plt.text()' method.

In [ ]:
Singapore.plot(kind='line')

plt.title('Immigration from Singapore')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

# annotate the 2001 Event. 
# syntax: plt.text(x, y, label)
plt.annotate('Sept 11th 2001', xy = (2003, 700),
             xytext =(2003, 1000), 
             arrowprops = dict(facecolor ='red', 
                               shrink = 0.05),
            )
plt.show()

We can easily add more countries to line plot to make meaningful comparisons immigration from different countries. 

**Question:** Compare the number of immigrants from India and China from 1980 to 2013.

Step 1: Get the data set for Malaysia and Thailand, and display dataframe.

In [ ]:
### type your answer here
df_MT = df_usa.loc[['Malaysia', 'Thailand'], years]
df_MT.head()

Step 2: Plot graph.

*Hint: **pandas** will plot the indices/rows ('country') on the x-axis and the columns ('year') as individual lines on the y-axis. This will not be correct, so you need to swap the row and column using the 'transpose' method

In [ ]:
df_MT = df_MT.transpose()
df_MT.head()

*pandas* will auomatically graph the two countries on the same graph. Go ahead and plot the new transposed dataframe. Make sure to add a title to the plot and label the axes.

In [ ]:
df_MT.index = df_MT.index.map(int) # Change index values to integer for plotting
df_MT.plot(kind='line')

plt.title('Immigrants from Malaysia and Thailand')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

plt.show()

From the above plot, we can observe that the Malaysia and Thailand have a similar dip.

**Question:** Compare the trend of top 5 countries that contributed the most to immigration to Unites States.

In [ ]:

# Step 1: Get the dataset. Recall that we created a Total column that calculates the cumulative immigration by country. 
# We will sort on this column to get our top 5 countries using pandas sort_values() method.
# inplace = True paramemter saves the changes to the original df_can dataframe
df_usa.sort_values(by='Total', ascending=False, axis=0, inplace=True)

# get the top 5 entries
df_top5 = df_usa.head(5)

# transpose the dataframe
df_top5 = df_top5[years].transpose()

print(df_top5)

In [ ]:
# Step 2: Plot the dataframe. To make the plot more readeable, we will change the size using the `figsize` parameter.
df_top5.index = df_top5.index.map(int) # let's change the index values of df_top5 to type integer for plotting
df_top5.plot(kind='line', figsize=(14, 8)) # pass a tuple (x, y) size

plt.title('Immigration Trend of Top 5 Countries')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')
plt.show()

# Area Plots <a id="14"></a>

Please create a cumulative plot, also known as a **Stacked Line Plot** or **Area plot**. 

Note: Area plots are stacked by default. And to produce a stacked area plot, each column must be either all positive or all negative values (any NaN values will defaulted to 0). To produce an unstacked plot, pass `stacked=False`.

In [ ]:
df_top5.index = df_top5.index.map(int) # let's change the index values of df_top5 to type integer for plotting

# The unstacked plot has a default transparency (alpha value) at 0.5. 
# We can modify this value by passing in the `alpha` parameter.
df_top5.plot(kind='area',
             alpha=0.25, # 0-1, default value a= 0.5
             stacked=False,
             figsize=(20, 10), # pass a tuple (x, y) size
             )

plt.title('Immigration Trend of Top 5 Countries')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

plt.show()

# Histograms<a id="16"></a>

A histogram is a way of representing the *frequency* distribution of numeric dataset. The way it works is it partitions the x-axis into *bins*, assigns each data point in our dataset to a bin, and then counts the number of data points that have been assigned to each bin. So the y-axis is the frequency or the number of data points in each bin. 

Please plot a histogram of the immigration status for Singapore, Malaysia and Thailand from 1980-2013

In [ ]:
# You will need to transpose the data set to plot population frequency distribution for the 3 countries
df_t = df_usa.loc[['Singapore', 'Malaysia', 'Thailand'], years].transpose()
df_t.head()

In [ ]:
# generate histogram
df_t.plot(kind='hist', figsize=(10, 6))

plt.title('Histogram of Immigration from Singapore, Malaysia, and Thailand from 1980 - 2013')
plt.ylabel('Number of Years')
plt.xlabel('Number of Immigrants')

plt.show()

# Bar Charts (Dataframe) <a id="18"></a>

A bar plot is a way of representing data where the *length* of the bars represents the magnitude/size of the feature/variable. Bar graphs usually represent numerical and categorical variables grouped in intervals. 

To create a bar plot, we can pass one of two arguments via 'kind' parameter in 'plot()':

* 'kind=bar' creates a *vertical* bar plot
* 'kind=barh' creates a *horizontal* bar plot

Lets analyze what effect the Asian Financial Crisis in 1997 had on Singapore

In [ ]:
df_spore = df_usa.loc['Singapore', years]
df_spore.head()

In [ ]:
# step 2: plot data
df_spore.plot(kind='bar', figsize=(10, 6), rot=90) 

plt.xlabel('Year')
plt.ylabel('Number of Immigrants')
plt.title('Singapore Immigrants to USA from 1980 to 2013')

# Annotate arrow
plt.annotate('',                      # s: str. will leave it blank for no text
             xy=(19, 400),             # place head of the arrow at point (year 2012 , pop 70)
             xytext=(19, 500),         # place base of the arrow at point (year 2008 , pop 20)
             xycoords='data',         # will use the coordinate system of the object being annotated 
             arrowprops=dict(arrowstyle='->', connectionstyle='arc3', color='blue', lw=2)
            )

# Annotate Text
plt.annotate('Due to 1997 Financial Crisis?', # text to display
             xy=(18.75, 550),                    # start the text at at point (year 2008 , pop 30)
             rotation=90,                  # based on trial and error to match the arrow
             va='bottom',                    # want the text to be vertically 'bottom' aligned
             ha='left',                      # want the text to be horizontally 'left' algned.
            )

plt.show()

# Box Plot <a id="20"></a>

A 'box plot' is a way of statistically representing the *distribution* of the data through five main dimensions: 

- **Minimun:** Smallest number in the dataset.
- **First quartile:** Middle number between the 'minimum' and the 'median'.
- **Second quartile (Median):** Middle number of the (sorted) dataset.
- **Third quartile:** Middle number between 'median' and 'maximum'.
- **Maximum:** Highest number in the dataset.

Lets do an analysis of the 2 most populus countries in the world - China and India - and see how much immigration has taken place to the US

In [ ]:
# to get a dataframe, place extra square brackets around 'China' & 'India'.
df_chindia = df_usa.loc[['China', 'India'], years].transpose()
df_chindia.head()

df_chindia.plot(kind='box', figsize=(8, 6))

plt.title('Box plot of China & India Immigrants from 1980 - 2013')
plt.ylabel('Number of Immigrants')

plt.show()

In [ ]:
df_chindia.describe()

Based on the analysis of the above box plot, both China and India have very similar trends.

# Bubble Plots <a id="22"></a>

Last, but certainly not least, lets analyse a 'bubble plot' which is a variation of the 'scatter plot' you learnt before. The key difference is that is can display information in three dimensions (x, y, z). Datapoints are replaced with bubbles, and the size of the bubble is determined by the third variable 'z', also known as the weight. In 'maplotlib', we can pass in an array or scalar to the keyword 's' to 'plot()', that contains the weight of each point.

**Let's start by analyzing the effect of China's great economic acceleration**.

China really started to open up its economy in the 1990s. How did this affect immigration to the US? Let's analyze this by comparing China's immigration to that of another economic powerhouse, Japan. Let's do that using a `bubble plot` of immigration from Japan and China for the years 1980 - 2013. The weights for the bubble will be the *normalized* value of the population for each year.

In [ ]:
#Step 1: Prepare the data

df_usa_t = df_usa[years].transpose() # transposed dataframe

# cast the Years (the index) to type int
df_usa_t.index = map(int, df_usa_t.index)

# let's label the index. This will automatically be the column name when we reset the index
df_usa_t.index.name = 'Year'

# reset index to bring the Year in as a column
df_usa_t.reset_index(inplace=True)

# view the changes
df_usa_t.head()

Step 2: Create the normalized weights. 

There are several methods of normalizations in statistics, each with its own use. In this case, we will use [feature scaling](https://en.wikipedia.org/wiki/Feature_scaling) to bring all values into the range [0,1]. The general formula is:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Images/Mod3Fig3FeatureScaling.png" align="center">

where *`X`* is an original value, *`X'`* is the normalized value. The formula sets the max value in the dataset to 1, and sets the min value to 0. The rest of the datapoints are scaled to a value between 0-1 accordingly.

In [ ]:
#Step 2: Normalize the data

China = df_usa_t['China'].astype(float)
Japan = df_usa_t['Japan'].astype(float)
yr = list(range(1980, 2014))

# normalize China data
#norm_CN = (df_usa_t['China'] - df_usa_t['China'].min()) / (df_usa_t['China'].max() - df_usa_t['China'].min())
norm_CN = (China - China.min()) / (China.max() - China.min())

# normalize Japan data
#norm_JP = (df_usa_t['Japan'] - df_usa_t['Japan'].min()) / (df_usa_t['Japan'].max() - df_usa_t['Japan'].min())
norm_JP = (Japan - Japan.min()) / (Japan.max() - Japan.min())

#norm_CN = China / China.max() 
#norm_JP = Japan/Japan.max()

Step 3: Plot the data. 
- To plot two different scatter plots in one plot, we can include the axes one plot into the other by passing it via the `ax` parameter. 
- We will also pass in the weights using the `s` parameter. Given that the normalized weights are between 0-1, they won't be visible on the plot. Therefore we will:
    - multiply weights by 2000 to scale it up on the graph, and,
    - add 10 to compensate for the min value (which has a 0 weight and therefore scale with x2000).

In [ ]:
# A simple Scatter plot to test the idea

plt.figure(figsize=(14, 8))
plt.scatter(yr, China, color='blue')
plt.scatter(yr, Japan, color='orange')
plt.xlabel("Years", size=14)
plt.ylabel("Number of immigrants", size=14)
plt.show()

In [ ]:
# China
ax0 = df_usa_t.plot(kind='scatter',
                    x='Year',
                    y='China',
                    figsize=(14, 8),
                    alpha=0.5,                  # transparency
                    color='green',
                    s=norm_CN * 2000 + 10,  # pass in weights 
                    xlim=(1975, 2015)
                   )

# Japan
ax1 = df_usa_t.plot(kind='scatter',
                    x='Year',
                    y='Japan',
                    alpha=0.5,
                    color="blue",
                    s=norm_JP * 2000 + 10,
                    ax = ax0
                   )

ax0.set_ylabel('Number of Immigrants')
ax0.set_title('Immigration from China and Japan from 1980 - 2013')
ax0.legend(['China', 'Japan'], loc='upper left', fontsize='x-large')

### Other Plots

There are many other plotting styles available other than the ones above, all of which can be accessed by passing 'kind' keyword to 'plot()'. The full list of available plots are as follows:

* `barh` for horizontal bar plots
* `kde` or `density` for density plots
* `pie` for pie plots
* `scatter` for scatter plots
* `hexbin` for hexbin plot

### Good job everyone!