In [13]:
import itertools
import snscrape.modules.twitter as sntwitter
import pandas as pd
import matplotlib.pyplot as plt

# Data Collection
Scraping Twitter data

### Tweets from USA

Renewable Energy Tweets

In [2]:
## USA Renewable Energy Tweets
# Creating list to append scraped tweet data
tweets_list_re_usa = []

# Search Filters
max_tweets = 10000
search_text = '(renewable energy) OR (#renewableenergy)'
tweets_since = '2021-06-01'
tweets_until = '2022-06-01'
lang = 'en'
loc_near = 'USA'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('{0} since:{1} until:{2} lang:{3} near:{4}'.format(search_text, tweets_since, tweets_until, lang, loc_near)).get_items()):
    if i > max_tweets:
        break
    tweets_list_re_usa.append([tweet.date, tweet.rawContent, tweet.hashtags, tweet.lang, tweet.user.location, tweet.coordinates, tweet.place])
    
# Creating a dataframe from the tweets list above
tweets_df_re_usa = pd.DataFrame(tweets_list_re_usa, columns=['date_time', 'content', 'hashtags', 'language', 'user_location', 'coord', 'place'])
tweets_df_re_usa

,date_time,content,hashtags,language,user_location,coord,place
0,2022-05-31 23:51:39+00:00,@phantom_final @sylvanguy Indeed. Think about ...,None,en,"Alberta, Canada","Coordinates(longitude=-113.71368, latitude=53....","Place(fullName='Edmonton, Alberta', name='Edmo..."
1,2022-05-31 23:33:57+00:00,@DebHaalandNM announces two new renewable ener...,None,en,"Las Vegas, NV","Coordinates(longitude=-115.384091, latitude=36...","Place(fullName='Las Vegas, NV', name='Las Vega..."
2,2022-05-31 23:27:30+00:00,@GGMM_2020 @pros_and_hoes @ShelKel2 @CourtneyM...,None,en,"Valley Forge, Pa.","Coordinates(longitude=-75.471249, latitude=40....","Place(fullName='Schwenksville, PA', name='Schw..."
3,2022-05-31 23:26:52+00:00,Here at NV Energy's headquarters where @SenCor...,None,en,"Las Vegas, NV","Coordinates(longitude=-115.384091, latitude=36...","Place(fullName='Las Vegas, NV', name='Las Vega..."
4,2022-05-31 23:07:40+00:00,The second area of strategic partnership highl...,[cleanenergy],en,"West Lafayette, IN","Coordinates(longitude=-86.999431, latitude=40....","Place(fullName='West Lafayette, IN', name='Wes..."
...,...,...,...,...,...,...,...
3632,2021-06-01 19:09:53+00:00,Nothing substitutes team work and partnerships...,"[volunteers, yyc, calgary, cdnpoli, ableg, ele...",en,Canada,"Coordinates(longitude=-114.3160379, latitude=5...","Place(fullName='Calgary, Alberta', name='Calga..."
3633,2021-06-01 14:31:14+00:00,Today is my first day as a chemistry II gradua...,None,en,"Ann Arbor, MI","Coordinates(longitude=-105.2978355, latitude=3...","Place(fullName='Golden, CO', name='Golden', ty..."
3634,2021-06-01 11:29:37+00:00,"@energy_said Presumably, inflation also causes...",None,en,"Pittsburgh, PA","Coordinates(longitude=-80.095586, latitude=40....","Place(fullName='Pittsburgh, PA', name='Pittsbu..."
3635,2021-06-01 03:35:20+00:00,A few observations on Electric and Hybrid Vehi...,None,en,"Jacksonville Beach, FL","Coordinates(longitude=-87.634643, latitude=24....","Place(fullName='Florida, USA', name='Florida',..."
3636,2021-06-01 02:57:52+00:00,@Fiorella_im Water is infinite. Energy to acce...,None,en,,"Coordinates(longitude=-118.017789, latitude=33...","Place(fullName='Anaheim, CA', name='Anaheim', ..."

Clean Energy Tweets

In [3]:
## USA Clean Energy Tweets
# Creating list to append scraped tweet data
tweets_list_ce_usa = []

# Search Filters
max_tweets = 10000
search_text = '(clean energy) OR (#cleanenergy)'
tweets_since = '2021-06-01'
tweets_until = '2022-06-01'
lang = 'en'
loc_near = 'USA'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('{0} since:{1} until:{2} lang:{3} near:{4}'.format(search_text, tweets_since, tweets_until, lang, loc_near)).get_items()):
    if i > max_tweets:
        break
    tweets_list_ce_usa.append([tweet.date, tweet.rawContent, tweet.hashtags, tweet.lang, tweet.user.location, tweet.coordinates, tweet.place])
    
# Creating a dataframe from the tweets list above
tweets_df_ce_usa = pd.DataFrame(tweets_list_ce_usa, columns=['date_time', 'content', 'hashtags', 'language', 'user_location', 'coord', 'place'])
tweets_df_ce_usa

,date_time,content,hashtags,language,user_location,coord,place
0,2022-05-31 23:07:40+00:00,The second area of strategic partnership highl...,[cleanenergy],en,"West Lafayette, IN","Coordinates(longitude=-86.999431, latitude=40....","Place(fullName='West Lafayette, IN', name='Wes..."
1,2022-05-31 19:58:33+00:00,Expert: Why Q2 Will Make Tesla Investors RICH!...,"[SolarRoof, SolarBattery, SolarElectricity]",en,"New Jersey, USA","Coordinates(longitude=-72.92308028, latitude=4...","Place(fullName='New Haven, CT', name='New Have..."
2,2022-05-31 18:36:25+00:00,Start up #cleanenergy\nhttps://t.co/XKfjsElL91,[cleanenergy],en,"Houston, TX","Coordinates(longitude=-95.823268, latitude=29....","Place(fullName='Houston, TX', name='Houston', ..."
3,2022-05-31 17:47:57+00:00,Michael is pursuing a Masters's in Environment...,[cleanenergy],en,"Raleigh, NC","Coordinates(longitude=-78.818343, latitude=35....","Place(fullName='Raleigh, NC', name='Raleigh', ..."
4,2022-05-31 17:47:24+00:00,"Please join us in welcoming Michael Audie Jr.,...","[ncpol, cleanenergy]",en,"Raleigh, NC","Coordinates(longitude=-78.818343, latitude=35....","Place(fullName='Raleigh, NC', name='Raleigh', ..."
...,...,...,...,...,...,...,...
5312,2021-06-01 16:12:33+00:00,@badbitchmayaa clean my energy.,None,en,Harlem to Mount Vernon,"Coordinates(longitude=-74.026675, latitude=40....","Place(fullName='Manhattan, NY', name='Manhatta..."
5313,2021-06-01 01:56:14+00:00,TONIGHT: There are only a few hours left to pa...,"[climate, FossilFreeFuture, CleanEnergy, twill]",en,"Downers Grove, IL","Coordinates(longitude=-88.0966885, latitude=41...","Place(fullName='Downers Grove, IL', name='Down..."
5314,2021-06-01 00:58:15+00:00,Really?! We ordered the @Ford #MustangMachE on...,"[MustangMachE, ElectricVehicles, Tesla, Ford, ...",en,,"Coordinates(longitude=-75.7887564, latitude=38...","Place(fullName='Delaware, USA', name='Delaware..."
5315,2021-06-01 00:34:00+00:00,WE NEED A MANHATTEN PROJECT TO CLEAN UP PLASTI...,None,en,"Northern, California.","Coordinates(longitude=-122.452708, latitude=40...","Place(fullName='Redding, CA', name='Redding', ..."
5316,2021-06-01 00:33:58+00:00,@sparki1969 I guess heâ€™s never spoken to the N...,None,en,"Houston, TX","Coordinates(longitude=-95.823268, latitude=29....","Place(fullName='Houston, TX', name='Houston', ..."

Green Energy Tweets

In [17]:
## USA Green Energy Tweets
# Creating list to append scraped tweet data
tweets_list_ge_usa = []

# Search Filters
max_tweets = 10000
search_text = '(green energy) OR (#greenenergy)'
tweets_since = '2021-06-01'
tweets_until = '2022-06-01'
lang = 'en'
loc_near = 'USA'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('{0} since:{1} until:{2} lang:{3} near:{4}'.format(search_text, tweets_since, tweets_until, lang, loc_near)).get_items()):
    if i > max_tweets:
        break
    tweets_list_ge_usa.append([tweet.date, tweet.rawContent, tweet.hashtags, tweet.lang, tweet.user.location, tweet.coordinates, tweet.place])
    
# Creating a dataframe from the tweets list above
tweets_df_ge_usa = pd.DataFrame(tweets_list_ge_usa, columns=['date_time', 'content', 'hashtags', 'language', 'user_location', 'coord', 'place'])
tweets_df_ge_usa

,date_time,content,hashtags,language,user_location,coord,place
0,2022-05-31 22:55:30+00:00,@TheUnrealMikeC @ACTBrigitte I'm gonna go out ...,None,en,"Midcoast Maine, USA","Coordinates(longitude=-69.140421, latitude=44....","Place(fullName='Rockland, ME', name='Rockland'..."
1,2022-05-31 22:33:32+00:00,#filthy alert @TimNaples \nIs this an all of t...,[filthy],en,,"Coordinates(longitude=-97.3535681, latitude=37...","Place(fullName='Park City, KS', name='Park Cit..."
2,2022-05-31 21:12:52+00:00,Now all we need is the political will. Hold ou...,"[GreenEnergy, ClimateCrisis, renewables]",en,,"Coordinates(longitude=-80.248423, latitude=43....","Place(fullName='Hamilton, Ontario', name='Hami..."
3,2022-05-31 19:32:17+00:00,Green Energy Complicates the Talibanâ€™s New Bat...,None,en,"Tucson, AZ","Coordinates(longitude=-111.083219, latitude=32...","Place(fullName='Tucson, AZ', name='Tucson', ty..."
4,2022-05-31 18:24:31+00:00,"â€œBesides the two towers, One45's developers ha...",None,en,"New York, NY","Coordinates(longitude=-74.026675, latitude=40....","Place(fullName='Manhattan, NY', name='Manhatta..."
...,...,...,...,...,...,...,...
2133,2021-06-02 14:35:03+00:00,The Nazi Democrats are Blinded by Their Lust f...,None,en,"Woodville, TX","Coordinates(longitude=-106.645646, latitude=25...","Place(fullName='Texas, USA', name='Texas', typ..."
2134,2021-06-01 21:29:51+00:00,Geared up and ready to go! Ready to do those i...,"[synergycompanies, synergysandiego, sandiego, ...",en,9630 Black Mountain Rd Suite L,"Coordinates(longitude=-117.282538, latitude=32...","Place(fullName='San Diego, CA', name='San Dieg..."
2135,2021-06-01 18:31:22+00:00,@GavinNewsom â€œCalifornia prides itself on real...,None,en,"San Francisco, CA","Coordinates(longitude=-122.514926, latitude=37...","Place(fullName='San Francisco, CA', name='San ..."
2136,2021-06-01 16:49:50+00:00,@TweetyMama4 @GregAbbott_TX Do a little readin...,None,en,"Bryan, TX","Coordinates(longitude=-96.439644, latitude=30....","Place(fullName='Bryan, TX', name='Bryan', type..."
2137,2021-06-01 00:34:00+00:00,WE NEED A MANHATTEN PROJECT TO CLEAN UP PLASTI...,None,en,"Northern, California.","Coordinates(longitude=-122.452708, latitude=40...","Place(fullName='Redding, CA', name='Redding', ..."

### Tweets from Europe

Renewable Energy Tweets

In [5]:
## Europe Renewable Energy Tweets
# Creating list to append scraped tweet data
tweets_list_re_eu = []

# Search Filters
max_tweets = 10000
search_text = '(renewable energy) OR (#renewableenergy)'
tweets_since = '2021-06-01'
tweets_until = '2022-06-01'
lang = 'en'
loc_near = 'Europe'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('{0} since:{1} until:{2} lang:{3} near:{4}'.format(search_text, tweets_since, tweets_until, lang, loc_near)).get_items()):
    if i > max_tweets:
        break
    tweets_list_re_eu.append([tweet.date, tweet.rawContent, tweet.hashtags, tweet.lang, tweet.user.location, tweet.coordinates, tweet.place])
    
# Creating a dataframe from the tweets list above
tweets_df_re_eu = pd.DataFrame(tweets_list_re_eu, columns=['date_time', 'content', 'hashtags', 'language', 'user_location', 'coord', 'place'])
tweets_df_re_eu

,date_time,content,hashtags,language,user_location,coord,place
0,2022-05-31 20:44:52+00:00,The #SolarPV generated 66.64 kWh today between...,"[SolarPV, solar, battery, Ireland, RenewableEn...",en,"Wexford, Ireland","Coordinates(longitude=-7.0175074, latitude=52....","Place(fullName='Wexford, Ireland', name='Wexfo..."
1,2022-05-31 16:09:21+00:00,ðŸ’¡Fun fact: switching to renewable energy cuts ...,None,en,"Caerdydd, Cymru","Coordinates(longitude=-3.278624, latitude=51.4...","Place(fullName='Cardiff, Wales', name='Cardiff..."
2,2022-05-31 16:03:09+00:00,It's hard to predict how expensive or rationed...,"[SolarThermal, SolarPV, energy, HeatIsHalf, Re...",en,"Wexford, Ireland","Coordinates(longitude=-7.0175074, latitude=52....","Place(fullName='Wexford, Ireland', name='Wexfo..."
3,2022-05-31 14:07:40+00:00,Loved seeing @carnegieclean CETO model on disp...,[RenewableEnergy],en,"Whadjuk Country, Perth, WA","Coordinates(longitude=8.4201604, latitude=53.3...","Place(fullName='Hamburg, Germany', name='Hambu..."
4,2022-05-31 13:59:29+00:00,Tech billionaire wins activist fight against A...,"[EUGreenDeal, ClimateActionNow]",en,Brussels,"Coordinates(longitude=4.3946297, latitude=50.7...","Place(fullName='Oudergem, BelgiÃ«', name='Ouder..."
...,...,...,...,...,...,...,...
3684,2021-06-01 09:33:30+00:00,Cloudy but bright morning ðŸŒ¥\n\n~6.3 kW from th...,"[solar, RenewableEnergy, Ireland, ClimateActio...",en,"Wexford, Ireland","Coordinates(longitude=-7.0175074, latitude=52....","Place(fullName='Wexford, Ireland', name='Wexfo..."
3685,2021-06-01 08:13:43+00:00,@philipsargent @JonathanWaxman1 @Zapaman @Copp...,None,en,"Wexford, Ireland","Coordinates(longitude=-7.0175074, latitude=52....","Place(fullName='Wexford, Ireland', name='Wexfo..."
3686,2021-06-01 07:42:10+00:00,A hazy start to the day but the sun breaking t...,"[solar, RenewableEnergy, Ireland, ClimateActio...",en,"Wexford, Ireland","Coordinates(longitude=-7.0175074, latitude=52....","Place(fullName='Wexford, Ireland', name='Wexfo..."
3687,2021-06-01 06:42:27+00:00,An example to others #renewableenergy,[renewableenergy],en,Norway,"Coordinates(longitude=10.3293714, latitude=59....","Place(fullName='NÃ¸tterÃ¸y, Norge', name='NÃ¸tter..."
3688,2021-06-01 06:34:52+00:00,Japan is to build a whole town as a pilot proj...,"[agreatleapforward, renewableenergy, Sustainab...",en,Norway,"Coordinates(longitude=10.3293714, latitude=59....","Place(fullName='NÃ¸tterÃ¸y, Norge', name='NÃ¸tter..."

Clean Energy Tweets

In [6]:
## Europe Clean Energy Tweets
# Creating list to append scraped tweet data
tweets_list_ce_eu = []

# Search Filters
max_tweets = 10000
search_text = '(clean energy) OR (#cleanenergy)'
tweets_since = '2021-06-01'
tweets_until = '2022-06-01'
lang = 'en'
loc_near = 'Europe'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('{0} since:{1} until:{2} lang:{3} near:{4}'.format(search_text, tweets_since, tweets_until, lang, loc_near)).get_items()):
    if i > max_tweets:
        break
    tweets_list_ce_eu.append([tweet.date, tweet.rawContent, tweet.hashtags, tweet.lang, tweet.user.location, tweet.coordinates, tweet.place])
    
# Creating a dataframe from the tweets list above
tweets_df_ce_eu = pd.DataFrame(tweets_list_ce_eu, columns=['date_time', 'content', 'hashtags', 'language', 'user_location', 'coord', 'place'])
tweets_df_ce_eu

,date_time,content,hashtags,language,user_location,coord,place
0,2022-05-31 10:14:42+00:00,I joined Canadaâ€™s Minister of Environment and ...,"[Stockholm, ClimateAction, cleanenergy, nature]",en,"Stockholm, Sweden","Coordinates(longitude=17.7601322, latitude=59....","Place(fullName='Stockholm, Sweden', name='Stoc..."
1,2022-05-31 08:40:30+00:00,The Green Deal relies on the same false soluti...,[EUGreenWeek],en,"Ghent, Belgium","Coordinates(longitude=4.3139889, latitude=50.7...","Place(fullName='Brussels, Belgium', name='Brus..."
2,2022-05-30 14:26:35+00:00,"From aluminum to zinc, these are the building ...",None,en,Gijon. Spain,"Coordinates(longitude=-5.8209772, latitude=43....","Place(fullName='GijÃ³n, Spain', name='GijÃ³n', t..."
3,2022-05-30 10:23:10+00:00,This will not rock as major economy's that rel...,None,en,"England, United Kingdom","Coordinates(longitude=-2.3798084, latitude=53....","Place(fullName='Sale, England', name='Sale', t..."
4,2022-05-30 08:56:30+00:00,Absence of meaningful EU/G7/MDB offer on clean...,[COP27],en,UK,"Coordinates(longitude=-6.36850399906372, latit...","Place(fullName='South West, England', name='So..."
...,...,...,...,...,...,...,...
1086,2021-06-03 12:55:03+00:00,@mayemusk @Tesla @elonmusk Moral of the story ...,[cleanenergy],en,"Strasbourg, France ðŸ‡«ðŸ‡·","Coordinates(longitude=7.6881601, latitude=48.4...","Place(fullName='Strasbourg, France', name='Str..."
1087,2021-06-03 09:01:49+00:00,@DrSeamie @pedrojuk @martin_farley @NW2Scott @...,None,en,ðŸ‡¬ðŸ‡§ ðŸ‡ºðŸ‡¸ ðŸ‡ªðŸ‡º,"Coordinates(longitude=-3.592595, latitude=51.6...","Place(fullName='Blaengarw, Wales', name='Blaen..."
1088,2021-06-02 19:23:06+00:00,"G7 countries committed $189bn to support oil, ...",None,en,,"Coordinates(longitude=-0.080526, latitude=51.3...","Place(fullName='Bromley, London', name='Bromle..."
1089,2021-06-02 18:06:45+00:00,Clear explanation of the history of Ukraineâ€™s ...,None,en,"The Hague, The Netherlands","Coordinates(longitude=22.1357201, latitude=44....","Place(fullName='Ukraine', name='Ukraine', type..."
1090,2021-06-01 13:51:45+00:00,Weâ€™re taking part in @WildlifeTrusts #30DaysWi...,"[30DaysWild, BankHolidayWeekend, rampionwindfa...",en,"Brighton, UK.","Coordinates(longitude=-0.173706, latitude=50.8...","Place(fullName='Brighton, England', name='Brig..."

Green Energy Tweets

In [16]:
## Europe Green Energy Tweets
# Creating list to append scraped tweet data
tweets_list_ge_eu = []

# Search Filters
max_tweets = 10000
search_text = '(green energy) OR (#greenenergy)'
tweets_since = '2021-06-01'
tweets_until = '2022-06-01'
lang = 'en'
loc_near = 'Europe'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('{0} since:{1} until:{2} lang:{3} near:{4}'.format(search_text, tweets_since, tweets_until, lang, loc_near)).get_items()):
    if i > max_tweets:
        break
    tweets_list_ge_eu.append([tweet.date, tweet.rawContent, tweet.hashtags, tweet.lang, tweet.user.location, tweet.coordinates, tweet.place])
    
# Creating a dataframe from the tweets list above
tweets_df_ge_eu = pd.DataFrame(tweets_list_ge_eu, columns=['date_time', 'content', 'hashtags', 'language', 'user_location', 'coord', 'place'])
tweets_df_ge_eu

,date_time,content,hashtags,language,user_location,coord,place
0,2022-05-31 22:35:52+00:00,Great Green energy project. https://t.co/3UQ2P...,None,en,"Leigh, England","Coordinates(longitude=-2.7037691, latitude=53....","Place(fullName='Haydock, England', name='Haydo..."
1,2022-05-31 20:33:03+00:00,@CCNFUK â€˜Burning trees in giant power stations...,None,en,South Birmingham,"Coordinates(longitude=-2.033651, latitude=52.3...","Place(fullName='Birmingham, England', name='Bi..."
2,2022-05-31 19:54:13+00:00,Oooh. Air source heat pump survey booked in fo...,"[green, renewables, ashp]",en,"Bournemouth, Dorset","Coordinates(longitude=-1.93759, latitude=50.70...","Place(fullName='Bournemouth, England', name='B..."
3,2022-05-31 19:03:11+00:00,How cool this bus charger looks! Less and fewe...,"[greenenergy, electricalchargers, warsaw]",en,Ð­ÑÑ‚Ð¾Ð½Ð¸Ñ,"Coordinates(longitude=20.8525518, latitude=52....","Place(fullName='Warsaw, Poland', name='Warsaw'..."
4,2022-05-31 08:40:30+00:00,The Green Deal relies on the same false soluti...,[EUGreenWeek],en,"Ghent, Belgium","Coordinates(longitude=4.3139889, latitude=50.7...","Place(fullName='Brussels, Belgium', name='Brus..."
...,...,...,...,...,...,...,...
2339,2021-06-01 20:58:09+00:00,Spent the day working in the land of the midni...,"[Skelleftea, greenenergy, miljÃ¶]",en,"Stockholm, Sweden","Coordinates(longitude=19.3472222, latitude=64....","Place(fullName='SkellefteÃ¥, Sverige', name='Sk..."
2340,2021-06-01 13:51:45+00:00,Weâ€™re taking part in @WildlifeTrusts #30DaysWi...,"[30DaysWild, BankHolidayWeekend, rampionwindfa...",en,"Brighton, UK.","Coordinates(longitude=-0.173706, latitude=50.8...","Place(fullName='Brighton, England', name='Brig..."
2341,2021-06-01 11:56:37+00:00,How we fill our EV ! \n\n#ev #electriccars #ec...,"[ev, electriccars, ecocars, KiaENiro, PV, Sola...",en,"Orkney , and UK wide","Coordinates(longitude=-7.66085699743185, latit...","Place(fullName='Scotland, United Kingdom', nam..."
2342,2021-06-01 10:05:21+00:00,@kenpopekpz Whilst #EU and #Norway press on wi...,"[EU, Norway, UK, Australia, USA, RejoinEU]",en,"A 6363 Westendorf, Ã–sterreich","Coordinates(longitude=12.160566, latitude=47.2...","Place(fullName='Westendorf, Austria', name='We..."
2343,2021-06-01 06:29:55+00:00,#CopperPrice rise due to #China &amp;GreenEner...,"[CopperPrice, China, ElectricCars]",en,"North West, England","Coordinates(longitude=-3.089731, latitude=53.2...","Place(fullName='Neston, England', name='Neston..."

In [19]:
# Export scraped data to csv files
tweets_df_re_usa.to_csv('re_usa.csv', index = False)
tweets_df_ce_usa.to_csv('ce_usa.csv', index = False)
tweets_df_ge_usa.to_csv('ge_usa.csv', index = False)
tweets_df_re_eu.to_csv('re_eu.csv', index = False)
tweets_df_ce_eu.to_csv('ce_eu.csv', index = False)
tweets_df_ge_eu.to_csv('ge_eu.csv', index = False)