# Study Unit 5 Data Analytics in Python

## scikit-learn

* Simple and efficient tools for **predictive data analysis**
* Accessible to everybody, and reusable in various contexts
* Built on NumPy, SciPy, and matplotlib
* Open source, commercially usable - BSD license

## Algorithms in scikit-learn

1. Supervised learning: learn with labled data
2. Unsupervised learning: learn with unlabled data

## Install and import scikit-learn

Importing whole sklearn takes longer time. Usually we only import packages we need.

In [1]:
# import sklearn

from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

## Import

In [2]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing
from sklearn import tree
from sklearn.cluster import KMeans
from sklearn import decomposition

# Activity: Car

In [3]:
import pandas as pd

In [4]:
car = pd.read_csv('./car_model.csv', na_values='na_string', na_filter=True)## Page 23: Activity
new_car_df = car.drop(columns=['Model'])
new_car_df.head()

   Year        Make Category
0  2021       Acura    Sedan
1  2021       Acura      SUV
2  2021       Acura    Sedan
3  2021  Alfa Romeo    Sedan
4  2021  Alfa Romeo      SUV

### Extract the dependent and independent variables

In [5]:
# Method 1
X = new_car_df.drop('Category', axis=1)
y = new_car_df['Category']

In [6]:
X.head()

   Year        Make
0  2021       Acura
1  2021       Acura
2  2021       Acura
3  2021  Alfa Romeo
4  2021  Alfa Romeo

In [7]:
y.head()

0    Sedan
1      SUV
2    Sedan
3    Sedan
4      SUV
Name: Category, dtype: object

In [8]:
# Method 2
X_2 = new_car_df[['Year', 'Make']]
y_2 = new_car_df['Category']

In [9]:
X_2.head()

   Year        Make
0  2021       Acura
1  2021       Acura
2  2021       Acura
3  2021  Alfa Romeo
4  2021  Alfa Romeo

In [10]:
y_2.head()

0    Sedan
1      SUV
2    Sedan
3    Sedan
4      SUV
Name: Category, dtype: object