In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TMA_Data.csv")

In [3]:
df

,ID,Staff,BirthYear,Gender,Marital,Citizenship,Minority,JoinDate,LeftDate,Unit,Salary,PerformanceScore,Survey,Satisfaction,Absence
0,1,Aairah Hastings,10/7/1986,F,Single,Citizen,Yes,4/2/2012,NaN,Manufacturing,46335,Meet,3.40,5,15
1,2,Aaminah Mcmillan,05/25/86,F,Married,Citizen,No,5/12/2014,NaN,Manufacturing,66825,Meet,4.60,3,20
2,3,Aamna Howell,04/20/85,F,Single,Citizen,No,9/29/2014,NaN,Manufacturing,60446,Meet,3.40,4,14
3,4,Aayan Ferrell,6/10/1984,M,Married,Citizen,No,1/5/2016,NaN,Admin,93046,Meet,4.10,4,20
4,5,Ace Potter,9/8/1989,F,Divorced,Citizen,No,7/11/2011,9/6/2020,Manufacturing,50825,Meet,5.00,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Zaina Parrish,10/11/1981,F,Married,Non-Resident,No,2/16/2015,NaN,IT,89883,Meet,3.69,5,15
246,247,Zane Downes,10/24/87,M,Married,Non-Resident,No,4/20/2017,NaN,IT,90100,Meet,3.40,3,14
247,248,Zayd Farley,7/9/1970,M,Single,Non-Resident,No,1/5/2014,NaN,IT,138888,Exceed,4.30,5,4
248,249,Zoya Easton,8/2/1980,F,Single,Non-Resident,No,8/13/2012,9/1/2015,Manufacturing,50274,To Improve,2.50,3,13
249,250,Zuzanna Pruitt,05/21/87,F,Single,Non-Resident,No,3/30/2015,NaN,Manufacturing,55315,Meet,5.00,5,16

In [ ]:
while True:
    keyinname=input("Enter the full name of employee to enquire or type END to exit:\n")
    if keyinname == "END" or keyinname =="end" or keyinname =="End":  ## Request user to exit from the loop
        print("\nThanks you for using ME :)")
        break
    test=df[df['Staff'].str.match(keyinname)] ## to check the column of Staff for name matching
    if test.empty:
        print("\033[1m",keyinname,"\033[0m" , "cannot be found in the system.\n")
    else:
        if (pd.isnull(test['LeftDate'].iloc[0])) == True:
            print(keyinname + " is still around.\n") ## if the name can be found from the Staff column
        else:    
            print(keyinname + " is no more with us!\n")  ## if the name cannot be found from the Staff column