In [ ]:
#To import the necessary libraries that are required for the code to run
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#to read the CSV as a Pandas DataFrame
raw_df = pd.read_csv(r"C:\Users\timot\OneDrive\Documents\SUSS\ANL252 - Python\TMA\Raw dataset\TMA_Data.csv")
raw_df

In [ ]:
# ========1(B)========

#a copy of raw_df is created so that it can be cleaned up and transformed for the purposes of 1(b)
df_1b = raw_df.copy()
#As 'ID' is a unique identifier for each employee, it is set as the index of the df_1b DataFrame
df_1b.set_index("ID", inplace=True)
df_1b

In [ ]:
#---SALARY STATISTICS---

#This is to aggregate the df_1b DataFrame at a 'Unit' level
unit_group = df_1b.groupby("Unit")
#This computes the mean salary aggregated at a 'Unit' level, and then stores it in a DataFrame called salary_output_table
salary_output_table = unit_group["Salary"].mean()
#This computes the population standard deviation aggregated at a 'Unit' level
salary_std_dev = unit_group["Salary"].std(ddof=0)
salary_output_table = pd.DataFrame(salary_output_table)
salary_output_table

In [ ]:
#To create a new column for standard deviation of salary in the salary_output_table DataFrame
salary_output_table["Standard Deviation"] = salary_std_dev
salary_output_table

In [ ]:
#This step serves to filter out the C-level employee record, and subsequently delete that row in the df_1b DataFrame. The purpose is to compute the organisational mean and standard deviation of salary excluding that of the C-level employee
c_level_filt = (df_1b["Unit"] == "C-Level")
df_1b.drop(index=df_1b[c_level_filt].index, inplace=True)

organisational_average_salary = df_1b["Salary"].mean()
organisational_StdDev_salary = df_1b["Salary"].std(ddof=0)

In [ ]:
#This is to add a new row in the salary_output_table DataFrame for the data on the Organisational mean and standard deviation of salary excluding that of the C-level employee
salary_output_table.loc['Organisational Average (excluding C-level)'] = [organisational_average_salary, organisational_StdDev_salary]
salary_output_table

In [ ]:
#This is to cast the format of the salary and standard deviation figures to be that of currency to 2 d.p.
salary_output_table['Salary'] = salary_output_table['Salary'].map('${:,.2f}'.format)
salary_output_table['Standard Deviation'] = salary_output_table['Standard Deviation'].map('${:,.2f}'.format)
salary_output_table

In [ ]:
#as the step above converted the salary and standard deviation figures to be strings, we will need to recast them to be a float again so that we can plot a graph later on. To simplify the code, parsing is done using regex
salary_output_table_for_graph = salary_output_table.copy()
salary_output_table_for_graph.drop(index=['C-Level', 'Organisational Average (excluding C-level)'], inplace=True)
salary_output_table_for_graph

salary_output_table_for_graph['Salary'] = salary_output_table_for_graph['Salary'].replace({'\$': '', ',': ''}, regex=True).astype(float)
salary_output_table_for_graph['Standard Deviation'] = salary_output_table_for_graph['Standard Deviation'].replace({'\$': '', ',': ''}, regex=True).astype(float)
salary_output_table_for_graph

In [ ]:
#matplotlib is used to create a comparative vertical bar chart. The parameters (e.g. title, colour, legend location, etc.) are specified accordingly. As there is no direct method to create a comparative bar chart in matplotlib, both bars have to be manually offset via the 'width' variable
plt.figure(figsize=(15,8))

title = 'Mean and Standard Deviation of Salary'

x_index_list = ['Admin','Engineering','IT','Manufacturing','Sales']
x_index_values = np.arange(len(x_index_list))
width = 0.25

plt.bar(x_index_values-width/2, salary_output_table_for_graph['Salary'], width=width, color='royalblue', label='Salary')
plt.bar(x_index_values+width/2, salary_output_table_for_graph['Standard Deviation'], width=width, color='darkorange',label='Standard Deviation')

plt.style.use('fivethirtyeight')

plt.legend(bbox_to_anchor = (1.05,1))
plt.xticks(ticks=x_index_values, labels=x_index_list)
plt.xlabel('Unit')
plt.ylabel("Mean Salary ($)")
plt.title(title)

plt.tight_layout()

plt.show()

In [ ]:
#---GENDER STATISTICS---

#This is to aggregate the df_1b DataFrame at a 'Unit' and then 'Gender' level as new DataFrame, i.e. gender_group
gender_group = raw_df.groupby(['Unit','Gender'])
#this serves to count the number of non-NA values in each row/column in the gender_group DataFrame
gender_count_table = gender_group.count()
gender_count_table

In [ ]:
#Due to the structure of the DataFrame and aggreation type, the gender_group DataFrame is multiIndexed. For ease of plotting the bar chart later on, we can transform it to a DataFrame that has a single index via the unstack() function
gender_count_table = gender_count_table.unstack()
gender_count_table = gender_count_table['Staff']
gender_count_table

In [ ]:
#matplotlib is used to create a comparative grouped horizontal bar chart. The parameters (e.g. title, colour, legend location, etc.) are specified accordingly. As there is no direct method to create a comparative bar chart in matplotlib, both bars have to be manually offset via the 'width' variable
plt.figure(figsize=(15,8))

title = 'Number of Female and Male Employees by Unit'

y_index_list = ['Admin','C-level','Engineering','IT','Manufacturing','Sales']
y_index_values = np.arange(len(y_index_list))

height = 0.25

plt.barh(y_index_values-height/2, gender_count_table['F'],height=height, color='royalblue', label='Female')
plt.barh(y_index_values+height/2, gender_count_table['M '],height=height, color='darkorange', label='Male')

plt.style.use('fivethirtyeight')

plt.legend(bbox_to_anchor = (1.05,1))
plt.yticks(ticks=y_index_values, labels=y_index_list)
plt.xlabel('Number of Employees')
plt.ylabel("Unit")
plt.title(title)

plt.tight_layout()

plt.show()

In [ ]:
# ========1(C)========

#a copy of raw_df is created so that it can be cleaned up and transformed for the purposes of 1(c)
df_1c = raw_df.copy()

In [ ]:
#This is to convert the data in the 'JoinDate' and 'LeftDate' columns to a datetime datatype. This will allow us to compute the length of service later via a timedelta
df_1c['JoinDate'] = pd.to_datetime(df_1c['JoinDate'])
df_1c['LeftDate'] = pd.to_datetime(df_1c['LeftDate'])
df_1c

In [ ]:
#This is to replace the blank values in the LeftDate column (i.e. staff who are still in the organisation) with a value of 1 May 2022
df_1c['LeftDate'].fillna(value=pd.to_datetime('1/5/2022', format='%d/%m/%Y'), inplace=True)

In [ ]:
#This computes the length of service of each staff (in days) as a timedelta object
df_1c["Length of service"] = df_1c["LeftDate"] - df_1c["JoinDate"]
df_1c

In [ ]:
#As arithmetical operations cannot be performed on timedelta objects directly, the 'Length of service' column can be cased into an int16 data type, and thereafter divided by 365 days to derive the length of service in years
df_1c['Length of service (in years)'] = df_1c['Length of service'].dt.days.astype('int16', errors='ignore')/365
df_1c

In [ ]:
#This computes the minimum length of service (rounded to 1 d.p.) and displays the output in a formatted string
min_length_of_service = round(df_1c['Length of service (in years)'].min(),1)
print(f'The minimum length of service rounded to 1 d.p. is {min_length_of_service} years')

In [ ]:
#This computes the maximum length of service (rounded to 1 d.p.) and displays the output in a formatted string
max_length_of_service = round(df_1c['Length of service (in years)'].max(), 1)
print(f'The maximum length of service rounded to 1 d.p. is {max_length_of_service} years')

In [ ]:
#This computes the average length of service (rounded to 1 d.p.) and displays the output in a formatted string
average_length_of_service = round(df_1c['Length of service (in years)'].mean(), 1)
print(f'The average length of service rounded to 1 d.p. is {average_length_of_service} years')

In [ ]:
# ========1(D)========

#a copy of raw_df is created so that it can be cleaned up and transformed for the purposes of 1(d)
df_1d = raw_df.copy()
df_1d.set_index("ID", inplace=True)
#the staff name is transformed to lower case in a new column called 'Staff_lower'. this is to allow for a case-agnostic validation of user input in the next step
df_1d["Staff_lower"] = df_1d["Staff"].str.lower()
#this serves to clean the source data by removing all leading and trailing whitespaces (if any) from the "Staff_lower" column
df_1d["Staff_lower"].str.rstrip()
df_1d["Staff_lower"].str.lstrip()
df_1d

In [ ]:
#a function is defined to check if the name entered by the user is in the DataFrame
def name_check():
    name = input("Please enter the username that you will like to check:\n")
    #this removes all trailing and leading whitespaces from the user input, thus allowing for the programme to function properly if the user improperly enters the name in this regard
    name = name.rstrip()
    name = name.lstrip()
    #the input is converted to lower case, thus allowing for the check to be case-agnostic
    if name.lower() in df_1d["Staff_lower"].values:
        print(f"The name entered ({name.title()}) can be found in the organisation's records")
    else:
        print(f"The name entered ({name.title()}) cannot be found in the organisation's records")

In [ ]:
name_check()

#this step serves to allow users to choose whether to continue searching for more names or quit the program
#note that the input is case-agnostic as it is converted to lower case
#a while loop is used to execute this block of code
    #if user input is 'Y', the name_check() function is executed again
    #if user input is 'N', the loop is broken out of and the program ends
    #if the user input is some other value besides 'Y' or 'N', the user is informed that their input is invalid and the loop continues through another iteration

while True:
    user_option = input("Do you want to continue searching for more names (Y/N)?\n")
    if user_option.lower() =="y":
        name_check()
        continue
    elif user_option.lower() == "n":
        print('You have successfully exit the program.')
        break
    else:
        print(f'{user_option} is not a valid input. Please either enter "Y" or "N".\n')
        continue