# TMA

In [ ]:
import pandas as pd

data = pd.read_excel (r'TMA.xlsx', sheet_name='TMA_Data')
print (data)

In [ ]:
import math
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.DataFrame(data)
df[[ 'Staff','Marital', 'Citizenship', 'Minority', 'Unit', 'PerformanceScore', 'in Company']] = df[['Staff','Marital', 'Citizenship', 'Minority', 'Unit', 'PerformanceScore', 'in Company']].astype(str)
print(data)

___________

# b)

In [ ]:
# importing the required module
import matplotlib.pyplot as plt
  
# x axis values
x = ['Divorced','Married','Others','Single']
# corresponding y axis values
y = [13,56,13,83]
  
# plotting the points 
plt.plot(x, y)
  
# naming the x axis
plt.xlabel('Marital Status')
# naming the y axis
plt.ylabel('Current Employee')
  
# giving a title to my graph
plt.title('Employment Status By Marital Status - Current')
  
# function to show the plot
plt.show()

In [ ]:
# importing the required module
import matplotlib.pyplot as plt

# x axis values
x = ['Divorced','Married','Others','Single']
# corresponding y axis values
y = [13,38,3,31]
  
# plotting the points 
plt.plot(x, y)
  
# naming the x axis
plt.xlabel('Marital Status')
# naming the y axis
plt.ylabel('Former Employee')
  
# giving a title to my graph
plt.title('Employment Status By Marital Status - Former')
  
# function to show the plot
plt.show()

In [ ]:
# importing the required module
import matplotlib.pyplot as plt
  
# x axis values
x = [1,2,3,4,5]
# corresponding y axis values
y = [1,1,45,48,49]
  
# plotting the points 
plt.plot(x, y)
  
# naming the x axis
plt.xlabel('Satisfaction Score')
# naming the y axis
plt.ylabel('No. of Female Employee')
  
# giving a title to my graph
plt.title('Employee Satisifaction Level By Gender (Female)')
  
# function to show the plot
plt.show()

In [ ]:
# importing the required module
import matplotlib.pyplot as plt
  

# x axis values
x = [1,2,3,4,5]
# corresponding y axis values
y = [0,3,39,32,32]
  
# plotting the points 
plt.plot(x, y)
  
# naming the x axis
plt.xlabel('Satisfaction Score')
# naming the y axis
plt.ylabel('No. of Female Employee')
  
# giving a title to my graph
plt.title('Employee Satisifaction Level By Gender (Male)')
  
# function to show the plot
plt.show()

# c)

In [ ]:
import pandas as pd
import numpy as np


Ldata = pd.read_excel (r'C:\Users\Jacelyne\Desktop\TMA.xlsx', sheet_name='Left Date')
print (Ldata)

In [ ]:
df = pd.DataFrame(Ldata, columns= ['JoinDate','LeftDate'])
print(df)

In [ ]:
import numpy as np
import pandas as pd
import datetime as datetime

data = pd.DataFrame({'p1': Param1,'p2': Param2})
startDT = data['p1']
endDT = data['p2']

# d)

In [ ]:
name = pd.DataFrame(data, columns= [('Staff')])
print(name)

In [ ]:
name = ("Aairah Hastings","Aaminah Mcmillan","Aamna Howell")
employment_status = ("employed")

while True:
        user_input = input("What is the name of the employee?")
        if user_input in name:
            name_index = name.index(user_input)
            employment_status = employment_status
            print(f"The staff of name {user_input} is {employment_status} by the company.")
            break
        else:
            user_input = input("Invalid input. Please try again.")

# Other working

In [ ]:
Marital_InCompany = pd.DataFrame(data, columns= [('Marital'),('in Company')])
print(Marital_InCompany)

In [ ]:
# the histogram of the data

#for y in data.ndim: 
#    print(data[:,in Company]
print(data.shape)
print(data.size)
print(data.ndim) #ndim = 2 because this is a 2D table
feature_names = ['Single', 'Married', 'Divorced', 'Others']

In [ ]:
y = pd.DataFrame(data, columns= ['in Company N'])
print(y)

In [ ]:
Divorced = [13,13]
Married = [56,58]
Others = [13,3]
Single = [83,31]

Marital_Status = ["Divorced,Married,Others,Single"]