# Car sales program:

##### Carry out the following tasks in JupyterLab:
###### Read in the data file “car_model.csv” into Python as a pandas DataFrame. The data file contains 4 variables: Year, Make, Model, and Category.
###### Print the DataFrame and check on its dimension.

In [1]:
# !pip install pandas

In [2]:
import pandas as pd

In [3]:
car_model = pd.read_csv("car_model.csv")

In [4]:
car_model

     Year        Make    Model Category
0    2021       Acura      ILX    Sedan
1    2021       Acura      RDX      SUV
2    2021       Acura      TLX    Sedan
3    2021  Alfa Romeo   Giulia    Sedan
4    2021  Alfa Romeo  Stelvio      SUV
..    ...         ...      ...      ...
235  2021       Volvo      V60    Wagon
236  2021  Volkswagen   Tiguan      SUV
237  2021       Volvo     XC40      SUV
238  2021       Volvo     XC60      SUV
239  2021       Volvo     XC90      SUV

[240 rows x 4 columns]

In [5]:
car_model.shape

(240, 4)

In [9]:
ax = car_model[car_model['Year'] > 2021]
ax

     Year           Make    Model     Category
107  2023       INFINITI     QX50          SUV
126  2022            Kia  Stinger        Sedan
162  2022  Mercedes-Benz      GLC          SUV
171  2022         Nissan   Murano          SUV
184  2023        Porsche   Taycan        Sedan
203  2023         Toyota  4Runner          SUV
222  2023         Toyota   Sienna  Van/Minivan
234  2022          Volvo      V90        Wagon