#### install and import pandas

In [1]:
#!pip install pandas
import pandas as pd
import numpy as np

# Data Selection
Download fruits.csv from Canvas first.

Note: fruits.csv must be in the same folder as SU4.ipynb

In [2]:
Imports = pd.read_csv("./fruits.csv")
Imports

   Fruits  Prices      Country
0   Apple     1.2       Africa
1  Orange     0.7       Russia
2  Banana     0.9  New Zealand

In [3]:
print(type(Imports))

#Return an int representing the number of axes / array dimensions. Return 1 if Series. Otherwise return 2 if DataFrame.
print(Imports.ndim) 

#Return a tuple representing the dimensionality of the DataFrame
print(Imports.shape)

#Return an int representing the number of elements in this object. Return the number of rows if Series. 
#Otherwise return the number of rows times number of columns if DataFrame.
print(Imports.size)

<class 'pandas.core.frame.DataFrame'>
2
(3, 3)
9

In [4]:
Imports[["Fruits", "Prices"]]

   Fruits  Prices
0   Apple     1.2
1  Orange     0.7
2  Banana     0.9

In [5]:
Imports[["Fruits", "Country"]]

   Fruits      Country
0   Apple       Africa
1  Orange       Russia
2  Banana  New Zealand

In [8]:
Alt_imports = Imports["Prices"].to_numpy()

In [10]:
print(type(Alt_imports))
print(Alt_imports.ndim)
print(Alt_imports.shape)
print(Alt_imports.size)

<class 'numpy.ndarray'>
1
(3,)
3

In [15]:
np.mean(Alt_imports)

0.9333333333333332