### Car sales program:
#### Carry out the following tasks in JupyterLab:

##### Read in the data file “car_price.csv” into Python. The data file contains 4 variables: Year, Make, Model, and Price (in USD).
##### Outer join the “car_model” and “car_price” data by their “year”, “make” and “model”.
##### Print the merged DataFrame and check on its dimension.
##### Delete duplicate columns from the DataFrame.

In [1]:
import pandas as pd

car_model = pd.read_csv("car_model.csv")
car_price = pd.read_csv("car_price.csv")

In [2]:
car_model.head()

   Year       Make         Model            Category
0  2020       Audi            Q3                 SUV
1  2020  Chevrolet        Malibu               Sedan
2  2020   Cadillac  Escalade ESV                 SUV
3  2020  Chevrolet      Corvette  Coupe, Convertible
4  2020      Acura           RLX               Sedan

In [3]:
car_price.head()

   Year        Make    Model  Price
0  2021       Acura      ILX  26100
1  2021       Acura      RDX  38400
2  2021       Acura      TLX  37500
3  2021  Alfa Romeo   Giulia  40350
4  2021  Alfa Romeo  Stelvio  42350

In [5]:
#car_model_price = pd.concat([car_model, car_price], axis = 0, join = "outer")
car_model_price = pd.merge(car_model, car_price, how='outer', on=['Year', 'Make', 'Model'])
car_model_price.head()

   Year       Make         Model            Category  Price
0  2020       Audi            Q3                 SUV    NaN
1  2020  Chevrolet        Malibu               Sedan    NaN
2  2020   Cadillac  Escalade ESV                 SUV    NaN
3  2020  Chevrolet      Corvette  Coupe, Convertible    NaN
4  2020      Acura           RLX               Sedan    NaN

In [6]:
car_model_price.shape

(9836, 5)

##### But how do we drop duplicated columns?

In [7]:
# How many duplicated coumns are there?
car_model_price.columns.duplicated()

array([False, False, False, False, False])

The above line returns a boolean array: a True or False for each column. If it is False then the column name is unique up to that point, if it is True then the column name is duplicated earlier.

Pandas allows one to index using boolean values whereby it selects only the True values. 

Since we want to keep the unduplicated columns, we need the above boolean array to be flipped i.e. we want to convert the False to True

In [8]:
~car_model_price.columns.duplicated()

array([ True,  True,  True,  True,  True])

In [9]:
car_model_price = car_model_price.loc[:, ~car_model_price.columns.duplicated()]
car_model_price

      Year        Make              Model            Category  Price
0     2020        Audi                 Q3                 SUV    NaN
1     2020   Chevrolet             Malibu               Sedan    NaN
2     2020    Cadillac       Escalade ESV                 SUV    NaN
3     2020   Chevrolet           Corvette  Coupe, Convertible    NaN
4     2020       Acura                RLX               Sedan    NaN
...    ...         ...                ...                 ...    ...
9831  2022  Mitsubishi      Eclipse Cross                 SUV    NaN
9832  2022      Nissan  Frontier Crew Cab              Pickup    NaN
9833  2022      Nissan         Pathfinder                 SUV    NaN
9834  2022      Subaru                BRZ               Coupe    NaN
9835  2022  Volkswagen             Tiguan                 SUV    NaN

[9836 rows x 5 columns]

In [10]:
car_model_price.shape

(9836, 5)

In [11]:
car_model_price.to_csv("car_model_price.csv", index = False)