### Car sales program:
#### Carry out the following tasks in JupyterLab:

##### Read in the data file “car_price.csv” into Python. The data file contains 4 variables: Year, Make, Model, and Price (in USD).
##### Outer join the “car_model” and “car_price” data by their “year”, “make” and “model”.
##### Print the merged DataFrame and check on its dimension.
##### Delete duplicate columns from the DataFrame.

In [1]:
import pandas as pd

car_model = pd.read_csv("car_model.csv")
car_price = pd.read_csv("car_price.csv")

In [2]:
car_model.head()

   Year    Make                                   Model Category
0  2000    Ford                                    E350   Family
1  2001   Chevy              Venture "Extended Edition"    Sedan
2  2002   Chevy  Venture "Extended Edition, Very Large"   Sports
3  2003    Jeep                          Grand Cherokee  Unknown
4  2004  Toyota                                    Wish      SUV

In [3]:
car_price.head()

   Year    Make                                   Model         Price
0  2000    Ford                                    E350  31489.586290
1  2001   Chevy              Venture "Extended Edition"  54967.447750
2  2002   Chevy  Venture "Extended Edition, Very Large"  55448.315530
3  2003    Jeep                          Grand Cherokee  50508.905890
4  2004  Toyota                                    Wish   3647.208496

In [4]:
car_model_price = pd.concat([car_model, car_price], axis = 1, join = "outer")
car_model_price.head()

,Year,Make,Model,Category,Year,Make,Model,Price
0,2000,Ford,E350,Family,2000,Ford,E350,31489.586290
1,2001,Chevy,"Venture ""Extended Edition""",Sedan,2001,Chevy,"Venture ""Extended Edition""",54967.447750
2,2002,Chevy,"Venture ""Extended Edition, Very Large""",Sports,2002,Chevy,"Venture ""Extended Edition, Very Large""",55448.315530
3,2003,Jeep,Grand Cherokee,Unknown,2003,Jeep,Grand Cherokee,50508.905890
4,2004,Toyota,Wish,SUV,2004,Toyota,Wish,3647.208496

In [5]:
car_model_price.shape

(21, 8)

##### But how do we drop duplicated columns?

In [6]:
# How many duplicated coumns are there?
car_model_price.columns.duplicated()

array([False, False, False, False,  True,  True,  True, False])

The above line returns a boolean array: a True or False for each column. If it is False then the column name is unique up to that point, if it is True then the column name is duplicated earlier.

Pandas allows one to index using boolean values whereby it selects only the True values. 

Since we want to keep the unduplicated columns, we need the above boolean array to be flipped i.e. we want to convert the False to True

In [7]:
~car_model_price.columns.duplicated()

array([ True,  True,  True,  True, False, False, False,  True])

In [8]:
car_model_price = car_model_price.loc[:, ~car_model_price.columns.duplicated()]
car_model_price

,Year,Make,Model,Category,Price
0,2000,Ford,E350,Family,31489.586290
1,2001,Chevy,"Venture ""Extended Edition""",Sedan,54967.447750
2,2002,Chevy,"Venture ""Extended Edition, Very Large""",Sports,55448.315530
3,2003,Jeep,Grand Cherokee,Unknown,50508.905890
4,2004,Toyota,Wish,SUV,3647.208496
5,2005,Honda,Jaxx,SUV,29106.682640
6,2006,Nissan,Skyline,SUV,47948.167620
7,2007,Ford,Mustang,Sedan,39035.069340
8,2008,Range Rover,Pathfinder,SUV,17960.838230
9,2009,Volvo,X6,Sedan,81874.540180
10,2010,BMW,i3,SUV,51615.344490
11,2011,Mercedes Benz,C cLass,SUV,7522.392529
12,2012,Subaru,BRZ,Sedan,21631.666240
13,2013,Audi,R8,Sedan,38356.588750
14,2014,Mercedes Benz,G50,SUV,65594.423910
15,2015,Ford,F450,TeasportTransport,2899.589514
16,2016,Ferrai,Spider,Sports,69035.947650
17,2017,American,Chopper,Personal,79667.596120
18,2018,Kawasaki,Ninja,Luxury,94841.274830
19,2019,Daihatsu,Super,Sedan,99393.880830
20,2020,Tesla,Model S,Sedan,14426.696630

In [9]:
car_model_price.shape

(21, 5)