<a href="https://www.suss.edu.sg/courses/detail/anl252?urlname=bachelor-of-science-in-finance-with-minor-ftfnce"><img src = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width = 200> <img src = "https://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1563832500/sql3_piw8ih.png" width = 200> </a>

<h1 align=center><font size = 5>Analysis with SQL and Python</font></h1>

<h1 align=center><font size = 4> Munish Kumar </font></h1>
<h1 align=center><font size = 3> Semester 1 2023 </font></h1>

# Introduction

This notebook is a very short practice on some basics of SQL. We will:
1. Do some basic data wrangling of a data set from the City of Chicago. There will be 2 parts to this. 
 - Part (A) looks at the Social-Domographic Aspects
 - Part (B) will look at the Crime Rate.
 
*Can we draw conclusions on how they are related?

Our Goals will be to

1. Practice your SQL skills 
2. Show how Python and SQL can be used together in the same notebook

## Problem Statement:
### Selected Socioeconomic Indicators in Chicago

The city of Chicago released a dataset of socioeconomic data to the Chicago City Portal.I have downloaded it here for your convinience. The dataset has the following variables:

* **Community Area Number** ('ca'): Used to uniquely identify each row of the dataset

* **Community Area Name** ('community_area_name'): The name of the region in the city of Chicago 

* **Percent of Housing Crowded** ('percent_of_housing_crowded'): Percent of occupied housing units with more than one person per room

* **Percent Households Below Poverty** ('percent_households_below_poverty'): Percent of households living below the federal poverty line

* **Percent Aged 16+ Unemployed** ('percent_aged_16_unemployed'): Percent of persons over the age of 16 years that are unemployed

* **Percent Aged 25+ without High School Diploma** ('percent_aged_25_without_high_school_diploma'): Percent of persons over the age of 25 years without a high school education

* **Percent Aged Under 18 or Over 64** ('percent_aged_under_18_or_over_64'):Percent of population under 18 or over 64 years of age: (ie. dependents)

* **Per Capita Income** ('per_capita_income_'): Community Area per capita income is estimated as the sum of tract-level aggragate incomes divided by the total population

* **Hardship Index** ('hardship_index'): Score that incorporates each of the six selected socioeconomic indicators

Lets look at the variables in the socioeconomic indicators dataset and do some basic analysis with Python.

### Data-Prep: Connect to the database
Let us first load the SQL extension and establish a connection with the database, but we are going to do it a bit differently and use SQL Magic. 

Magic commands are a set of convenient functions in Jupyter Notebooks that are designed to solve some of the common problems in standard data analysis. You can see all of the available magics with the help of %lsmagic.

In [1]:
# Uncomment to install this; you only need to do this once the very first time to write this code
#!pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

##### Lets do a simple test to see if we can create a table 

1. Note the %%sql. 
 - A single '%' symbol is for 1 SQL line of code
 - Double '%%' means that the block itself is entirely SQL code
 

2. Note also that you must end each statement with a ';' symbol

In [4]:
%%sql   
CREATE TABLE TUTOR(firstname varchar(50),lastname varchar(50));  
INSERT INTO TUTOR VALUES('Munish','Kumar');  
INSERT INTO TUTOR VALUES('Matthew','McDonald');

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [5]:
 %sql SELECT * from TUTOR;

 * sqlite://
Done.

[('Munish', 'Kumar'), ('Matthew', 'McDonald')]

#### 1. Store the dataset in a Database

Unlike what is written in your notes, we are going to use something called sql Alchemy (https://www.sqlalchemy.org/)

In [6]:
import pandas
df_chicago = pandas.read_csv('Chicago_Dataset_2014.csv')
print(df_chicago.head(2))

    ca community_area_name  percent_of_housing_crowded  \
0  1.0         Rogers Park                         7.7
1  2.0          West Ridge                         7.8

   percent_households_below_poverty  percent_aged_16_unemployed  \
0                              23.6                         8.7
1                              17.2                         8.8

   percent_aged_25_without_high_school_diploma  \
0                                         18.2
1                                         20.8

   percent_aged_under_18_or_over_64  per_capita_income_  hardship_index
0                              27.5               23939            39.0
1                              38.5               23040            46.0

In [7]:
#importing sql library
from sqlalchemy import create_engine

# create a referrence for sql library
# sqlite:////Users/ABC/Desktop/yourdatabase.sqlite –> This can be used to specify a database in a 
# specific location. Also if the database file doesn’t exist it will be initiated.

cnx = create_engine(r'sqlite:////SQL/chicago_socioeconomic_data.sqlite', 
                    echo = False)

# attach the data frame to the sql with a name of the table
df_chicago.to_sql('chicago_socioeconomic_data', con=cnx, index=False)

78

Now lets point to where our database is kept using

*sqlite:///yourdatabase.sqlite* –> This will connect to a database file in the same working directory.

In [8]:
%sql sqlite:////SQL/chicago_socioeconomic_data.sqlite

##### You can verify that the table creation was successful by making a basic query like:

In [9]:
%sql SELECT * from chicago_socioeconomic_data limit 5;

   sqlite://
 * sqlite:////SQL/chicago_socioeconomic_data.sqlite
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

------------------------------------
------------------------------------
## Part A - Socio-Economic Indicators for Chicago

### Problem 1

##### How many rows are in the dataset?

##### Describe each columns in the dataset?

### Problem 2

##### How many community areas in Chicago have a hardship index greater than 10.0?

##### How many community areas in Chicago have a hardship index greater than 10.0 but less than 50?

### Problem 3

##### Can you evaluate some summary statistics of the dataset?

##### What is the minimum and maximum value of per_capita_income_ in this dataset?

##### What is the average value of per_capita_income_ in this dataset?

##### What is the median value of hardship index in this dataset?
*(Unfortunately, this data set has no mode i.e. most common number)*

### Problem 4

##### Which community area which has the highest hardship index?

### Problem 5

##### Which Chicago community areas have per-capita incomes greater than $60,000?

You can see that as Per Capita Income rises as the Hardship Index decreases. We see that the points on the scatter plot are somewhat closer to a straight line in the negative direction, so we have a negative correlation between the two variables.

### Problem 6

##### Create a histogram for 'per_capita_income_'. Explain the distribution

The distribution is skewed to the left meaning that there are more people with lower per_capita_income in this dataset.

##### Create a scatter plot using the variables 'per_capita_income_' and 'hardship_index'. Explain the correlation between the two variables.

------------------------------------
------------------------------------
## Part B - Crime in Chicago

#### As we did before, lets create the database

Make sure you create the engine

Point to where the database is kept

### Problem 7
##### Find the total number of crimes recorded in the CRIME table

### Problem 8

##### Retrieve first 10 rows from the CRIME table

### Problem 9

##### How many crimes did not involve an arrest?

##### How many crimes involved a domestic incident and lead to an arrest?

### Problem 10

##### Which unique types of crimes have been recorded at GAS STATION locations?

##### What is the Case 'id' for a 'Theft' tht took place at an 'Alley' location?

##### Plot a histogram of the top 10 crimes that took place

### Good Job

##### Now you know how to do basic exploratory data analysis using SQL and python visualization tools.