### Car sales program:
#### Carry out the following tasks in JupyterLab:
##### Modify the program created in Study Units 1 & 2 in a way that the user can enter the brand, model, buying price and satisfaction rate (1 = “totally dissatisfied”, …, 5 = “totally satisfied”) of the car he purchased.
##### Save the input as “car_purchase” in a text file (preferably .csv file).

In [1]:
import pandas as pd
import numpy as np

user_in = []

valid_input = False
while valid_input == False:
    try:
        add_car = str(input("Add a new car (yes / no):"))
        if add_car == "yes":
            input_b = str(input("Please Enter Car Brand:"))
            input_m = str(input("Please Enter Car Model:"))
            input_p = int(input("Please Enter Car Buying Price:"))
            input_s = int(input("Please Enter Car Satisfaction from 1 to 5 (1 - least satisfied): "))
            print(f"You have entered is {input_b}, {input_m}, {input_p}, {input_s}")
            
            user_in.append({'Brand': input_b, 'Model': input_m, 'Price': input_p, 'Satisfaction':input_s})
        
        elif add_car == "no":
            valid_input = True
            print(f"Goodbye!")
            break
    
    except ValueError:
        print(f"Your input is of the wrong type. Please try again")
        
print(user_in)

Add a new car (yes / no):yes
Please Enter Car Brand:Toyota
Please Enter Car Model:Harrier
Please Enter Car Buying Price:560000
Please Enter Car Satisfaction from 1 to 5 (1 - least satisfied): 3
You have entered is Toyota, Harrier, 560000, 3
Add a new car (yes / no):Toyota
Add a new car (yes / no):Wish
Add a new car (yes / no):340000
Add a new car (yes / no):4
Add a new car (yes / no):yes
Please Enter Car Brand:Toyota
Please Enter Car Model:Wish
Please Enter Car Buying Price:340000
Please Enter Car Satisfaction from 1 to 5 (1 - least satisfied): 4
You have entered is Toyota, Wish, 340000, 4
Add a new car (yes / no):yes
Please Enter Car Brand:Ferrari
Please Enter Car Model:Spider
Please Enter Car Buying Price:1300000
Please Enter Car Satisfaction from 1 to 5 (1 - least satisfied): 2
You have entered is Ferrari, Spider, 1300000, 2
Add a new car (yes / no):no
Goodbye!
[{'Brand': 'Toyota', 'Model': 'Harrier', 'Price': 560000, 'Satisfaction': 3}, {'Brand': 'Toyota', 'Model': 'Wish', 'Price': 340000, 'Satisfaction': 4}, {'Brand': 'Ferrari', 'Model': 'Spider', 'Price': 1300000, 'Satisfaction': 2}]

In [2]:
header = ["Brand", "Model", "Price", "Satisfaction"]
#data = [x.split(',') for x in user_in]

df = pd.DataFrame(user_in, columns=header)
df

     Brand    Model    Price  Satisfaction
0   Toyota  Harrier   560000             3
1   Toyota     Wish   340000             4
2  Ferrari   Spider  1300000             2

In [3]:
df.to_csv("car_purchase.csv", index = False)

##### Create a database and export the data to it.

In [5]:
import sqlite3

conn = sqlite3.connect("Car_model.db")
cur = conn.cursor()

In [6]:
df.to_sql("df", conn, if_exists = "replace", index = False)

##### Export the original data of “car_model” and “car_price” from Study Unit 4 to the database as well.

In [9]:
df1 = pd.read_csv("car_model.csv")
df2 = pd.read_csv("car_price.csv")

In [10]:
df1.to_sql("df1", conn, if_exists = "replace", index = False)
df2.to_sql("df2", conn, if_exists = "replace", index = False)

##### Did I create the database correctly - lets check

In [11]:
cur.execute("Select * FROM df1;")

In [12]:
print(cur.fetchone())

(2020, 'Audi', 'Q3', 'SUV')

In [13]:
cur.execute("Select * FROM df2;")
print(cur.fetchone())

(2021, 'Acura', 'ILX', 26100)

In [14]:
cur.execute("Select * FROM df;")
print(cur.fetchone())

('Toyota', 'Harrier', 560000, 3)