### Qns 1b

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
Female_scores= [80160,250000,99045,87905,59655,75900]
Male_scores= [73523,0,92689,101534,59015,66952]
Department= ["Admin","C-Level","Engineering","IT","Manufacturing","Sales"]

In [ ]:
plt.plot(Department, Female_scores, color = "green", marker = "o", markerfacecolor = "black",markeredgecolor="black")
plt.plot(Department, Male_scores, color = "blue", marker = "o", markerfacecolor = "black",markeredgecolor="black")
plt.xlabel("Department")
plt.ylabel("Average salary")

plt.xticks(Department,labels = Department)
plt.yticks([50000,100000,150000,200000,250000,300000],["50000","100000","150000","200000","250000","300000"])
plt.grid(axis="y")

plt.legend(["F", "M"])
plt.title("Average salary for the individual department")

plt.xticks(Department, labels = Department)

plt.show()

In [ ]:
x=28.6
y=3.6
x1=30
y1=3.5
x2=36.6
y2=5.7
x3=21.9
y3=3.1
x4=18.2
y4=2.9

In [ ]:
plt.scatter(x,y, s=100, c='orange',marker='s',edgecolor='orange', linewidth=1,alpha=0.75)
plt.scatter(x1,y1, s=100, c='grey',marker='^',edgecolor='grey', linewidth=1,alpha=0.75)
plt.scatter(x2,y2, s=100, c='yellow',marker='x',edgecolor='yellow', linewidth=1,alpha=0.75)
plt.scatter(x3,y3, s=100, c='black',marker='2',edgecolor='black', linewidth=1,alpha=0.75)
plt.scatter(x4,y4, s=100, c='blue',marker='o',edgecolor='blue', linewidth=1,alpha=0.75)

plt.xlabel("Percentage performance score")
plt.ylabel("Average point")
plt.grid()

plt.xticks([0,5,10,15,20,25,30,35,40],["0","5","10","15","20","25","30","35","40"])
plt.yticks([1,2,3,4,5,6],["1","2","3","4","5","6"])

plt.legend(["Admin","Engineering","IT","Manufacturing","Sales"],loc='upper left')
plt.title("Overall score")

plt.show()

### Qns 1c

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [ ]:
data=pd.read_csv("TMA_Data.csv")

In [ ]:
data.head()

In [ ]:
Join_Date = data['JoinDate']=pd.to_datetime(data['JoinDate'])
Left_Date = data['LeftDate']=pd.to_datetime(data['LeftDate'])
print(Join_Date,Left_Date)

In [ ]:
Left_Date2 = Left_Date.fillna("2022-05-01")
print(Left_Date2)

In [ ]:
Days = (Left_Date2 - Join_Date).dt.days
print(Days)

In [ ]:
Years = Days / 365

In [ ]:
max_number = max(Years)
print("The maximum length of service is",round(max_number,1),"years")

In [ ]:
min_number = min(Years)
print("The minimum length of service is",round(min_number,1),"years")

In [ ]:
mean_number = sum(Years)/ len(Years)
print("The average length of service is",round(mean_number,1),"years")

### Qns 1d

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import pandas as pd

In [ ]:
data1=pd.read_csv("TMA_Data.csv")

In [ ]:
newcolumn1 = data1.sort_values(by="LeftDate")
pd.set_option("display.max_column",None)
pd.set_option("display.max_row",None)
newcolumn1.head(251)
extract = newcolumn1[['Staff','LeftDate']].reset_index(drop= True)
extract.head(251)
y = extract.values[0:85,0]
z = extract.values[0:85,1]

In [ ]:
left = {}
for i in range(len(z)):
    left[y[i]] = z[i]
    current = extract.values[85:250, 0]

In [ ]:
today = datetime.today()
d1 = today.strftime("%d/%m/%Y")

In [ ]:
name=str(input("Please enter the staff name "))
answer = name
def gameplay(): 
    answer = input(name)
if answer in left:
        print("The employee has left the organisation on {}".format(left[answer]))
elif answer in current: 
            print("This employee still working as of", d1)
else:
                print("No such person in the organisation")
while True:
    answer1 = input("Do you want to make another query within the organisation? (Y/N) ").upper()
    if answer1 == "Y":
        gameplay()
    elif answer1 == "N":
        print("Your search ends here \nThank you and have a nice day!")
        break
    else:
        print(" Please enter Y or N ")