In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv('TMA_Data.csv', parse_dates=['BirthYear', 'JoinDate', 'LeftDate'])

In [ ]:
df.head()

In [ ]:
df.plot.scatter(x='Salary', y='Satisfaction')

In [ ]:
df_groups = df.groupby('PerformanceScore')

In [ ]:
mean_absence_of_performance = df_groups['Absence'].agg('mean')

In [ ]:
mean_absence_of_performance.plot.bar()

In [ ]:
df.LeftDate.fillna('2022-05-01', inplace=True)

In [ ]:
df.head()

In [ ]:
df['Duration'] = df['LeftDate'] - df['JoinDate']

In [ ]:
df.head()

In [ ]:
from datetime import timedelta

year = timedelta(days=365)

In [ ]:
minimum_duration = df.Duration.min()

In [ ]:
print(f"{minimum_duration / year :.1f}")

The minimum duration of service is 0.1 years

In [ ]:
maximum_duration = df.Duration.max()

In [ ]:
print(f"{maximum_duration / year :.1f}")

The maximum duration of service if 16.3 years

In [ ]:
mean_duration = df.Duration.mean()

In [ ]:
print(f"{mean_duration / year :.1f}")

The average length of service is 6.8 years

In [ ]:
def program():
    while True:
        print("Enter name to check if person is in organization or hit <enter> key to quit")
        name = input("Enter:  ")
        
        if name == '':
            break
        elif name in df.Staff.values:
            print(f"{name} is a staff in the organization")
        else:
            print(f"Could not find {name}")
    
    print("Application Ended")

In [ ]:
## Uncomment to run
# program()