In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TMA_Data.csv")

In [3]:
## Find out missing date at "LeftDate" and replace with 1-May-2022

In [4]:
df['LeftDate'] = df['LeftDate'].fillna('1-May-2022')

In [5]:
## Find out length of service and round to 1 decimal place

In [6]:
i=0
while i <(len(df.index)):
    JoinDate=pd.to_datetime((df.loc[i,"JoinDate"]),dayfirst=False) 
    LeftDate=pd.to_datetime((df.loc[i,"LeftDate"]),dayfirst=False)
    Duration=round((len(pd.date_range(start=JoinDate,end=LeftDate,freq='D'))/365),1)
    df.at[i,"length of service"]=Duration
    i=i+1

In [7]:
print(df[['Staff', 'JoinDate', 'LeftDate', 'length of service']])
## Lngth of service for all staff is produced

                Staff   JoinDate    LeftDate  length of service
0     Aairah Hastings   4/2/2012  1-May-2022               10.1
1    Aaminah Mcmillan  5/12/2014  1-May-2022                8.0
2        Aamna Howell  9/29/2014  1-May-2022                7.6
3       Aayan Ferrell   1/5/2016  1-May-2022                6.3
4          Ace Potter  7/11/2011    9/6/2020                9.2
..                ...        ...         ...                ...
245     Zaina Parrish  2/16/2015  1-May-2022                7.2
246       Zane Downes  4/20/2017  1-May-2022                5.0
247       Zayd Farley   1/5/2014  1-May-2022                8.3
248       Zoya Easton  8/13/2012    9/1/2015                3.1
249    Zuzanna Pruitt  3/30/2015  1-May-2022                7.1

[250 rows x 4 columns]

In [8]:
## Analysis of employee's length of service (in years)

In [9]:
print("Minimum length of service is :\033[4m\033[1m",(df['length of service'].min()),"\033[0m years")

Minimum length of service is : 0.1  years

In [10]:
print("Maximum length of service is :\033[4m\033[1m",(df['length of service'].max()),"\033[0m years")

Maximum length of service is : 16.3  years

In [11]:
print("Average length of service is :\033[4m\033[1m",(round(df['length of service'].mean(),1)),"\033[0m years")

Average length of service is : 6.8  years