<a href="https://www.suss.edu.sg/courses/detail/anl252?urlname=bachelor-of-science-in-finance-with-minor-ftfnce"><img src = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width = 400> </a>

<h1 align=center><font size = 5>ANL252 - More on Matplotlib and Line Plots</font></h1>

<h1 align=center><font size = 4> Munish Kumar </font></h1>
<h1 align=center><font size = 3> Semester 2 2021 </font></h1>

## Introduction

The aim of this lab is to practice data visualization with Python. I will also introduce different libraries which can be beneficial when we are discussing new visualization concepts.

We will be generating plots and visualizations with data stored in the *pandas* dataframes. 

------------

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Exploring Datasets with *pandas*](#0)<br>
1.1 [The Dataset: Immigration to USA from 1980 to 2013](#2)<br>
1.2 [Importing *pandas* (and Numpy)](#4) <br>
1.3 [*pandas* Intermediate: Indexing and Selection](#6) <br>
2. [Visualizing Data using Matplotlib](#8) <br>
2.1 [Matplotlib: Standard Python Visualization Library](#10) <br>
3. [Line Plots](#12)
</div>
<hr>

## The Dataset: Immigration to Canada from 1980 to 2013 <a id="2"></a>

Dataset Source: [International migration flows to and from selected countries - The 2015 revision](http://www.un.org/en/development/desa/population/migration/data/empirical2/migrationflows.shtml).

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this lab, we will focus on the United States of America immigration data.

---

## Importing *pandas* (and numpy)<a id="4"></a>

The first thing we'll do is import two key data analysis modules: *pandas* and **Numpy**.

In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

Let's download and import our primary Immigration dataset using *pandas* `read_excel()` method. To do this, you will would need to download a module which *pandas* requires to read in excel files called **xlrd**. Run the following line of code to install the **xlrd** module:
```
!conda install -c anaconda xlrd --yes
```

In [2]:
#!conda install -c anaconda xlrd --yes

Lets read in our data using 'read_excel' method

In [3]:
df_usa = pd.read_excel('United States of America.xlsx',
                       sheet_name='USA by Place of birth',
                       skiprows=range(20),
                       skipfooter=2)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

Display the top 5 rows of the dataset using the `head()` function.

In [4]:
df_usa.head()
# tip: You can specify the number of rows you'd like to see as follows: df_can.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Less developed regions,722,...,2137,4749,3417,1753,2813,3165,2017,1648,1617,2196
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,More developed regions,30,...,3840,5947,7914,5737,5754,5137,4711,3612,3364,3186
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Less developed regions,175,...,805,1115,1300,1036,1037,1485,1305,1364,1369,1241
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Less developed regions,0,...,12,15,28,11,14,19,14,D,-,D
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,More developed regions,2,...,..,..,..,..,..,..,..,..,..,..

Display the bottom 5 rows of the dataset using the `tail()` function.

In [5]:
df_usa.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
214,Immigrants,Foreigners,Wallis and Futuna Islands,909,Oceania,957,Polynesia,902,Less developed regions,0,...,..,..,..,..,..,..,..,..,..,..
215,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Less developed regions,0,...,..,..,..,..,..,..,..,..,..,..
216,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Less developed regions,160,...,1760,3366,4308,2396,1872,3134,3591,3361,2620,3532
217,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Less developed regions,178,...,359,499,672,576,613,704,628,652,643,505
218,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Less developed regions,246,...,628,923,1049,1057,953,983,1274,1016,914,924

Please get some basic information of the dataframe using the `info()` method.

In [6]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      219 non-null    object
 1   Coverage  219 non-null    object
 2   OdName    219 non-null    object
 3   AREA      219 non-null    int64
 4   AreaName  219 non-null    object
 5   REG       219 non-null    int64
 6   RegName   219 non-null    object
 7   DEV       219 non-null    int64
 8   DevName   219 non-null    object
 9   1980      219 non-null    object
 10  1981      219 non-null    object
 11  1982      219 non-null    object
 12  1983      219 non-null    object
 13  1984      219 non-null    object
 14  1985      219 non-null    object
 15  1986      219 non-null    object
 16  1987      219 non-null    object
 17  1988      219 non-null    object
 18  1989      219 non-null    object
 19  1990      219 non-null    object
 20  1991      219 non-null    object
 21  1992      219 non-null    object
 22  1993      219 non-null    object
 23  1994      219 non-null    object
 24  1995      219 non-null    object
 25  1996      219 non-null    object
 26  1997      219 non-null    object
 27  1998      219 non-null    object
 28  1999      219 non-null    object
 29  2000      219 non-null    object
 30  2001      219 non-null    object
 31  2002      219 non-null    object
 32  2003      219 non-null    object
 33  2004      219 non-null    object
 34  2005      219 non-null    object
 35  2006      219 non-null    object
 36  2007      219 non-null    object
 37  2008      219 non-null    object
 38  2009      219 non-null    object
 39  2010      219 non-null    object
 40  2011      219 non-null    object
 41  2012      219 non-null    object
 42  2013      219 non-null    object
dtypes: int64(3), object(40)
memory usage: 73.7+ KB

Please list of column headers in the dataframe; use the '.columns' parameter.

In [7]:
df_usa.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

Please list of indicies with '.index' parameter.

In [8]:
df_usa.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218], dtype=int64)

As the default type of index and columns is NOT a list, can you use tolist() method to convert them both?

In [9]:
print(type(df_usa.columns))
print(type(df_usa.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [10]:
df_usa.columns.tolist()
df_usa.index.tolist()

print (type(df_usa.columns.tolist()))
print (type(df_usa.index.tolist()))

<class 'list'>
<class 'list'>

Please display the dimensions of the dataframe with the '.shape' parameter.

In [11]:
# size of dataframe (rows, columns)
df_usa.shape

(219, 43)

Note: The main types stored in *pandas* objects are *float*, *int*, *bool*, *datetime64[ns]* and *datetime64[ns, tz] (in >= 0.17.0)*, *timedelta[ns]*, *category (in >= 0.15.0)*, and *object* (string). In addition these dtypes have item sizes, e.g. int64 and int32.

Please clean the data set by removing the following unnecessary columns (hint: use the 'drop()' method): 
- 'AREA', 'REG', 'DEV', 'Type', 'Coverage'

In [12]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_usa.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_usa.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Less developed regions,722,1881,1569,2566,3222,2794,...,2137,4749,3417,1753,2813,3165,2017,1648,1617,2196
1,Albania,Europe,Southern Europe,More developed regions,30,11,23,22,32,45,...,3840,5947,7914,5737,5754,5137,4711,3612,3364,3186

Rename the following columns by passing in a dictionary of old and new names (hint: use 'rename' method):
 - 'OdName' --> 'Country'
 - 'AreaName' --> 'Continent', 
 - 'RegName' --> 'Region'
 - 'DevName' --> 'Dev_Status'

In [13]:
df_usa.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region', 'DevName':'Dev_Status'}, inplace=True)
df_usa.columns

Index([   'Country',  'Continent',     'Region', 'Dev_Status',         1980,
               1981,         1982,         1983,         1984,         1985,
               1986,         1987,         1988,         1989,         1990,
               1991,         1992,         1993,         1994,         1995,
               1996,         1997,         1998,         1999,         2000,
               2001,         2002,         2003,         2004,         2005,
               2006,         2007,         2008,         2009,         2010,
               2011,         2012,         2013],
      dtype='object')

Add a 'Total' column to sums up the total immigrants by country over the entire period 1980 - 2013

In [14]:
df_usa['Total'] = df_usa.sum(axis=1)

C:\Users\mkumar\AppData\Local\Temp/ipykernel_4592/3002375331.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_usa['Total'] = df_usa.sum(axis=1)

Determine how many null objects there are in the dataset

In [15]:
df_usa.isnull().sum()

Country       0
Continent     0
Region        0
Dev_Status    0
1980          0
1981          0
1982          0
1983          0
1984          0
1985          0
1986          0
1987          0
1988          0
1989          0
1990          0
1991          0
1992          0
1993          0
1994          0
1995          0
1996          0
1997          0
1998          0
1999          0
2000          0
2001          0
2002          0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          0
Total         0
dtype: int64

Finally, summarize using the 'describe()' method.

In [16]:
df_usa.describe()

       Total
count  219.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0

---
## *pandas* Intermediate: Indexing and Selection (slicing)<a id="6"></a>

### Select Column
**There are two ways to filter on a column name:**

Method 1: Quick and easy, but only works if the column name does NOT have spaces or special characters.
```python
    df.column_name 
        (returns series)
```

Method 2: More robust, and can filter on multiple columns.

```python
    df['column']  
        (returns series)
```

```python 
    df[['column 1', 'column 2']] 
        (returns dataframe)
```
---

Method 1: Filtering on the list of countries ('Country').

In [17]:
df_usa.Country  # returns a series

0                    Afghanistan
1                        Albania
2                        Algeria
3                 American Samoa
4                        Andorra
                 ...
214    Wallis and Futuna Islands
215               Western Sahara
216                        Yemen
217                       Zambia
218                     Zimbabwe
Name: Country, Length: 219, dtype: object

Method 2: Filtering on the list of countries ('Country') and the data for years 1980 - 1985 (inclusive).

In [18]:
df_usa[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe
# notice that 'Country' is string, and the years are integers. 
# for the sake of consistency, we will convert all column names to string later on.

                       Country 1980  1981  1982  1983  1984  1985
0                  Afghanistan  722  1881  1569  2566  3222  2794
1                      Albania   30    11    23    22    32    45
2                      Algeria  175   184   190   201   197   202
3               American Samoa    0     0     7     7     0     0
4                      Andorra    2     3     2     1     0     0
..                         ...  ...   ...   ...   ...   ...   ...
214  Wallis and Futuna Islands    0     0     0     0     0     0
215             Western Sahara    0     1     1     2     0     0
216                      Yemen  160   230   305   268   324   432
217                     Zambia  178   165   165   160   146   169
218                   Zimbabwe  246   167   162   193   200   222

[219 rows x 7 columns]

## Select Row

Here are some ways to select rows:

```python
    df.loc[label]        
        #filters by the labels of the index/column
    df.iloc[index]       
        #filters by the positions of the index/column
```

The default index of the dataset is a numeric range. This makes it very difficult to do a query by a specific country because you will need to know the corressponding index value.

What is the index number for Singapore, Malaysia & Thailand?

In [25]:
print(f"index for Singapore: {df_usa[df_usa['Country']=='Singapore'].index.values}")
print(f"index for Malaysia: {df_usa[df_usa['Country']=='Malaysia'].index.values}")
print(f"index for Thailand: {df_usa[df_usa['Country']=='Thailand'].index.values}")

index for Singapore: [177]
index for Singapore: [117]
index for Singapore: [99]

Please set the 'Country' column as the index using 'set_index()' method.

In [26]:
df_usa.set_index('Country', inplace=True)
# tip: The opposite of set is reset. So to reset the index, we can use df_can.reset_index()

In [27]:
df_usa.head(3)

,Continent,Region,Dev_Status,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Less developed regions,722,1881,1569,2566,3222,2794,2831,...,4749,3417,1753,2813,3165,2017,1648,1617,2196,0.0
Albania,Europe,Southern Europe,More developed regions,30,11,23,22,32,45,53,...,5947,7914,5737,5754,5137,4711,3612,3364,3186,0.0
Algeria,Africa,Northern Africa,Less developed regions,175,184,190,201,197,202,183,...,1115,1300,1036,1037,1485,1305,1364,1369,1241,0.0

In [28]:
# optional: to remove the name of the index
#df_usa.index.name = None
#df_usa.head(3)

Please display the number of immigrants for the following scenarios:
    1. From Singapore - The full row data (all columns)
    2. From Malaysia - For year 2013
    3. From Thailand - For years 1980 to 1985

In [30]:
# 1. the full row data (all columns)
print(df_usa.loc['Singapore'])

# alternate methods
print(df_usa.iloc[177])
print(df_usa[df_usa.index == 'Singapore'].T.squeeze())

Continent                       Asia
Region            South-Eastern Asia
Dev_Status    Less developed regions
1980                             322
1981                             408
1982                             390
1983                             362
1984                             377
1985                             460
1986                             480
1987                             469
1988                             492
1989                             566
1990                             620
1991                             535
1992                             774
1993                             798
1994                             542
1995                             399
1996                             561
1997                             460
1998                             388
1999                             355
2000                             668
2001                            1100
2002                            1033
2003                             582
2004                             966
2005                            1204
2006                             997
2007                             985
2008                             922
2009                             832
2010                             774
2011                             690
2012                             712
2013                             835
Total                            0.0
Name: Singapore, dtype: object
Continent                       Asia
Region            South-Eastern Asia
Dev_Status    Less developed regions
1980                             322
1981                             408
1982                             390
1983                             362
1984                             377
1985                             460
1986                             480
1987                             469
1988                             492
1989                             566
1990                             620
1991                             535
1992                             774
1993                             798
1994                             542
1995                             399
1996                             561
1997                             460
1998                             388
1999                             355
2000                             668
2001                            1100
2002                            1033
2003                             582
2004                             966
2005                            1204
2006                             997
2007                             985
2008                             922
2009                             832
2010                             774
2011                             690
2012                             712
2013                             835
Total                            0.0
Name: Singapore, dtype: object
Continent                       Asia
Region            South-Eastern Asia
Dev_Status    Less developed regions
1980                             322
1981                             408
1982                             390
1983                             362
1984                             377
1985                             460
1986                             480
1987                             469
1988                             492
1989                             566
1990                             620
1991                             535
1992                             774
1993                             798
1994                             542
1995                             399
1996                             561
1997                             460
1998                             388
1999                             355
2000                             668
2001                            1100
2002                            1033
2003                             582
2004                             966
2005                            1204
2006                             997
2007                             985
2008                             922
2009                             832
2010                             774
2011                             690
2012                             712
2013                             835
Total                            0.0
Name: Singapore, dtype: object

In [33]:
# 2. for year 2013
print(df_usa.loc['Malaysia', 2013])

2477

In [35]:
# 3. for years 1980 to 1985
print(df_usa.loc['Thailand', [1980, 1981, 1982, 1983, 1984, 1984]])

1980    4115
1981    4799
1982    5568
1983    5875
1984    4885
1984    4885
Name: Thailand, dtype: object

Column names that are integers (such as the years) might introduce some confusion. For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index. 

To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.

In [ ]:
df_can.columns = list(map(str, df_can.columns))
# [print (type(x)) for x in df_can.columns.values] #<-- uncomment to check type of column headers

Since we converted the years to string, let's declare a variable that will allow us to easily call upon the full range of years:

In [ ]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

### Filtering based on a criteria
To filter the dataframe based on a condition, we simply pass the condition as a boolean vector. 

For example, Let's filter the dataframe to show the data on Asian countries (AreaName = Asia).

In [ ]:
# 1. create the condition boolean series
condition = df_can['Continent'] == 'Asia'
print(condition)

In [ ]:
# 2. pass this condition into the dataFrame
df_can[condition]

In [ ]:
# we can pass mutliple criteria in the same line. 
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

Before we proceed: let's review the changes we have made to our dataframe.

In [ ]:
print('data dimensions:', df_can.shape)
print(df_can.columns)
df_can.head(2)

---
# Visualizing Data using Matplotlib<a id="8"></a>

## Matplotlib: Standard Python Visualization Library<a id="10"></a>

The primary plotting library we will explore in the course is [Matplotlib](http://matplotlib.org/).  As mentioned on their website: 
>Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms. Matplotlib can be used in Python scripts, the Python and IPython shell, the jupyter notebook, web application servers, and four graphical user interface toolkits.

If you are aspiring to create impactful visualization with python, Matplotlib is an essential tool to have at your disposal.

### Matplotlib.Pyplot

One of the core aspects of Matplotlib is `matplotlib.pyplot`. It is Matplotlib's scripting layer which we studied in details in the videos about Matplotlib. Recall that it is a collection of command style functions that make Matplotlib work like MATLAB. Each `pyplot` function makes some change to a figure: e.g., creates a figure, creates a plotting area in a figure, plots some lines in a plotting area, decorates the plot with labels, etc. In this lab, we will work with the scripting layer to learn how to generate line plots. In future labs, we will get to work with the Artist layer as well to experiment first hand how it differs from the scripting layer.

Let's start by importing `Matplotlib` and `Matplotlib.pyplot` as follows:

In [ ]:
# we are using the inline backend
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

*optional: check if Matplotlib is loaded.

In [ ]:
print ('Matplotlib version: ', mpl.__version__) # >= 2.0.0

*optional: apply a style to Matplotlib.

In [ ]:
print(plt.style.available)
mpl.style.use(['ggplot']) # optional: for ggplot-like style

### Plotting in *pandas*

Fortunately, pandas has a built-in implementation of Matplotlib that we can use. Plotting in *pandas* is as simple as appending a `.plot()` method to a series or dataframe.

Documentation:
- [Plotting with Series](http://pandas.pydata.org/pandas-docs/stable/api.html#plotting)<br>
- [Plotting with Dataframes](http://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-plotting)

# Line Pots (Series/Dataframe) <a id="12"></a>

**What is a line plot and why use it?**

A line chart or line plot is a type of plot which displays information as a series of data points called 'markers' connected by straight line segments. It is a basic type of chart common in many fields.
Use line plot when you have a continuous data set. These are best suited for trend-based visualizations of data over a period of time.

**Let's start with a case study:**

In 2010, Haiti suffered a catastrophic magnitude 7.0 earthquake. The quake caused widespread devastation and loss of life and aout three million people were affected by this natural disaster. As part of Canada's humanitarian effort, the Government of Canada stepped up its effort in accepting refugees from Haiti. We can quickly visualize this effort using a `Line` plot:

**Question:** Plot a line graph of immigration from Haiti using `df.plot()`.

First, we will extract the data series for Haiti.

In [ ]:
haiti = df_can.loc['Haiti', years] # passing in years 1980 - 2013 to exclude the 'total' column
haiti.head()

Next, we will plot a line plot by appending `.plot()` to the `haiti` dataframe.

In [ ]:
haiti.plot()

*pandas* automatically populated the x-axis with the index values (years), and the y-axis with the column values (population). However, notice how the years were not displayed because they are of type *string*. Therefore, let's change the type of the index values to *integer* for plotting.

Also, let's label the x and y axis using `plt.title()`, `plt.ylabel()`, and `plt.xlabel()` as follows:

In [ ]:
haiti.index = haiti.index.map(int) # let's change the index values of Haiti to type integer for plotting
haiti.plot(kind='line')

plt.title('Immigration from Haiti')
plt.ylabel('Number of immigrants')
plt.xlabel('Years')

plt.show() # need this line to show the updates made to the figure

We can clearly notice how number of immigrants from Haiti spiked up from 2010 as Canada stepped up its efforts to accept refugees from Haiti. Let's annotate this spike in the plot by using the `plt.text()` method.

In [ ]:
haiti.plot(kind='line')

plt.title('Immigration from Haiti')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

# annotate the 2010 Earthquake. 
# syntax: plt.text(x, y, label)
plt.text(2000, 6000, '2010 Earthquake') # see note below

plt.show()

With just a few lines of code, you were able to quickly identify and visualize the spike in immigration!

Quick note on x and y values in `plt.text(x, y, label)`:
    
     Since the x-axis (years) is type 'integer', we specified x as a year. The y axis (number of immigrants) is type 'integer', so we can just specify the value y = 6000.
    
```python
    plt.text(2000, 6000, '2010 Earthquake') # years stored as type int
```
    If the years were stored as type 'string', we would need to specify x as the index position of the year. Eg 20th index is year 2000 since it is the 20th year with a base year of 1980.
```python
    plt.text(20, 6000, '2010 Earthquake') # years stored as type int
```
    We will cover advanced annotation methods in later modules.

We can easily add more countries to line plot to make meaningful comparisons immigration from different countries. 

**Question:** Let's compare the number of immigrants from India and China from 1980 to 2013.

Step 1: Get the data set for China and India, and display dataframe.

In [ ]:
### type your answer here

Double-click __here__ for the solution.
<!-- The correct answer is:
df_CI = df_can.loc[['India', 'China'], years]
df_CI.head()
-->

Step 2: Plot graph. We will explicitly specify line plot by passing in `kind` parameter to `plot()`.

In [ ]:
### type your answer here

Double-click __here__ for the solution.
<!-- The correct answer is:
df_CI.plot(kind='line')
-->

That doesn't look right...

Recall that *pandas* plots the indices on the x-axis and the columns as individual lines on the y-axis. Since `df_CI` is a dataframe with the `country` as the index and `years` as the columns, we must first transpose the dataframe using `transpose()` method to swap the row and columns.

In [ ]:
df_CI = df_CI.transpose()
df_CI.head()

*pandas* will auomatically graph the two countries on the same graph. Go ahead and plot the new transposed dataframe. Make sure to add a title to the plot and label the axes.

In [ ]:
### type your answer here

Double-click __here__ for the solution.
<!-- The correct answer is:
df_CI.index = df_CI.index.map(int) # let's change the index values of df_CI to type integer for plotting
df_CI.plot(kind='line')
-->

<!--
plt.title('Immigrants from China and India')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')
-->

<!--
plt.show()
-->

From the above plot, we can observe that the China and India have very similar immigration trends through the years.

*Note*: How come we didn't need to transpose Haiti's dataframe before plotting (like we did for df_CI)?

That's because `haiti` is a series as opposed to a dataframe, and has the years as its indices as shown below. 
```python
print(type(haiti))
print(haiti.head(5))
```
>class 'pandas.core.series.Series' <br>
>1980    1666 <br>
>1981    3692 <br>
>1982    3498 <br>
>1983    2860 <br>
>1984    1418 <br>
>Name: Haiti, dtype: int64 <br>

Line plot is a handy tool to display several dependent variables against one independent variable. However, it is recommended that no more than 5-10 lines on a single graph; any more than that and it becomes difficult to interpret.

**Question:** Compare the trend of top 5 countries that contributed the most to immigration to Canada.

In [ ]:
### type your answer here

Double-click __here__ for the solution.
<!-- The correct answer is:
\\ # Step 1: Get the dataset. Recall that we created a Total column that calculates the cumulative immigration by country. \\ We will sort on this column to get our top 5 countries using pandas sort_values() method.
\\ inplace = True paramemter saves the changes to the original df_can dataframe
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)
-->

<!--
# get the top 5 entries
df_top5 = df_can.head(5)
-->

<!--
# transpose the dataframe
df_top5 = df_top5[years].transpose() 
-->

<!--
print(df_top5)
-->

<!--
\\ # Step 2: Plot the dataframe. To make the plot more readeable, we will change the size using the `figsize` parameter.
df_top5.index = df_top5.index.map(int) # let's change the index values of df_top5 to type integer for plotting
df_top5.plot(kind='line', figsize=(14, 8)) # pass a tuple (x, y) size
-->

<!--
plt.title('Immigration Trend of Top 5 Countries')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')
-->

<!--
plt.show()
-->

### Other Plots

Congratulations! you have learned how to wrangle data with python and create a line plot with Matplotlib. There are many other plotting styles available other than the default Line plot, all of which can be accessed by passing `kind` keyword to `plot()`. The full list of available plots are as follows:

* `bar` for vertical bar plots
* `barh` for horizontal bar plots
* `hist` for histogram
* `box` for boxplot
* `kde` or `density` for density plots
* `area` for area plots
* `pie` for pie plots
* `scatter` for scatter plots
* `hexbin` for hexbin plot

### Thank you for completing this lab!

This notebook was originally created by [Jay Rajasekharan](https://www.linkedin.com/in/jayrajasekharan) with contributions from [Ehsan M. Kermani](https://www.linkedin.com/in/ehsanmkermani), and [Slobodan Markovic](https://www.linkedin.com/in/slobodan-markovic).

This notebook was recently revised by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab session interesting. Feel free to contact me if you have any questions!

This notebook is part of a course on **Coursera** called *Data Visualization with Python*. If you accessed this notebook outside the course, you can take this course online by clicking [here](http://cocl.us/DV0101EN_Coursera_Week1_LAB1).

<hr>

Copyright &copy; 2019 [Cognitive Class](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).