# Car sales program:

##### Carry out the following tasks in JupyterLab:
###### Read in the data file “car_model.csv” into Python as a pandas DataFrame. The data file contains 4 variables: Year, Make, Model, and Category.
###### Print the DataFrame and check on its dimension.

In [2]:
# pip install pandas

Collecting pandas
  Downloading pandas-1.3.0-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mkumar\miniconda3\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.1-cp38-cp38-win_amd64.whl (14.0 MB)
Requirement already satisfied: six>=1.5 in c:\users\mkumar\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.1 pandas-1.3.0 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'C:\Users\mkumar\Miniconda3\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [3]:
import pandas as pd

In [4]:
car_model = pd.read_csv("car_model.csv")

In [7]:
car_model

   Year   Make                                   Model  Category
0  1997   Ford                                    E350      3000
1  1999  Chevy              Venture "Extended Edition"      4900
2  1999  Chevy  Venture "Extended Edition, Very Large"      5000
3  1996   Jeep                          Grand Cherokee      4799

In [8]:
car_model.shape

(4, 4)