# Car sales program:

##### Carry out the following tasks in JupyterLab:
###### Read in the data file “car_model.csv” into Python as a pandas DataFrame. The data file contains 4 variables: Year, Make, Model, and Category.
###### Print the DataFrame and check on its dimension.

In [1]:
# !pip install pandas

In [2]:
import pandas as pd

In [3]:
car_model = pd.read_csv("car_model.csv")

In [4]:
car_model

,Year,Make,Model,Category
0,2000,Ford,E350,Family
1,2001,Chevy,"Venture ""Extended Edition""",Sedan
2,2002,Chevy,"Venture ""Extended Edition, Very Large""",Sports
3,2003,Jeep,Grand Cherokee,Unknown
4,2004,Toyota,Wish,SUV
5,2005,Honda,Jaxx,SUV
6,2006,Nissan,Skyline,SUV
7,2007,Ford,Mustang,Sedan
8,2008,Range Rover,Pathfinder,SUV
9,2009,Volvo,X6,Sedan
10,2010,BMW,i3,SUV
11,2011,Mercedes Benz,C cLass,SUV
12,2012,Subaru,BRZ,Sedan
13,2013,Audi,R8,Sedan
14,2014,Mercedes Benz,G50,SUV
15,2015,Ford,F450,TeasportTransport
16,2016,Ferrai,Spider,Sports
17,2017,American,Chopper,Personal
18,2018,Kawasaki,Ninja,Luxury
19,2019,Daihatsu,Super,Sedan
20,2020,Tesla,Model S,Sedan

In [5]:
car_model.shape

(21, 4)